openapi: 3.0.1
info:
  title: DBS Orders
  version: order
  description: Management of orders, metadata
  x-file-name: orders-dbs
security:
  - HeaderApiKey: []
tags:
  - name: DBS Assembly Orders
    description: ''
  - name: DBS Metadata
    description: ''
paths:
  /api/v3/dbs/orders/new:
    servers:
      - url: https://marketplace-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Assembly Orders
      summary: Get New Orders List
      description: |
        Returns a list of all new orders for the seller at the moment

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        </div>
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                nullable: false
                properties:
                  orders:
                    type: array
                    nullable: false
                    description: New assembly orders list
                    items:
                      $ref: '#/components/schemas/OrderNewDBS'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders:
    servers:
      - url: https://marketplace-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Assembly Orders
      summary: Get Information on Completed Orders
      description: |
        Returns information on completed orders (either canceled or sold). <br> You can get data for a specified period, maximum of 30 calendar days per request.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        </div>
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Next'
        - name: dateFrom
          in: query
          required: true
          schema:
            type: integer
          description: |
            Period start date in Unix timestamp format
        - name: dateTo
          in: query
          required: true
          schema:
            type: integer
          description: Period end date in Unix timestamp format
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                nullable: false
                properties:
                  next:
                    $ref: '#/components/schemas/Next'
                  orders:
                    type: array
                    nullable: false
                    items:
                      $ref: '#/components/schemas/OrderDBS'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/groups/info:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      description: |
        The method provides information on paid delivery for assembly orders that have been received at a single warehouse (warehouseId) as part of a single buyer transaction (orderUid).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      tags:
        - DBS Assembly Orders
      summary: Get Information on Paid Delivery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrderGroupsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrderGroup'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/client:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      summary: Buyer Information
      description: |
        The method allows getting information about the buyer by order ID

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      tags:
        - DBS Assembly Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersRequestAPI'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbsOnlyClientInfoResp'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/b2b/info:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Assembly Orders
      summary: B2B Buyer Information
      description: |
        The method returns B2B buyers data by assembly orders ID:
          - Taxpayer Identification Number (TIN or INN in Russian)
          - Code of Reason for Registration (CRR or KPP in Russian)
          - Company name

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.B2bClientInfoResponses'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/delivery-date:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      summary: Delivery Date and Time
      description: |
        Method provides information about the delivery date and time selected by the buyer for orders.
        <br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        </div>
      tags:
        - DBS Assembly Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryDatesRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryDatesInfoResp'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest1'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/status/info:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Assembly Orders
      summary: Get Assembly Order Statuses
      description: |
        Returns the statuses of [assembly orders](/openapi/orders-dbs#tag/DBS-Assembly-Orders) based on the list of assembly order IDs.

        `supplierStatus` is a status of an order. The trigger for its change is the action of the seller himself.<br>
        Possible values for this field are:
        | Status   | Description               | How to move an order to this status   |
        | -------  | ---------                 | --------------------------------------|
        | `new`      | **New order** | |
        | `confirm`  | **Order on assembly**      |  [Transfer to assembly](/openapi/orders-dbs?locale=ru#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1confirm/post)
        | `deliver`  | **Order on delivery**<br>    | [Transfer to delivery](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1deliver/post)
        | `receive`  | **Received by the buyer**<br>       | [Notify that the order has been accepted by the buyer](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1receive/post) <br>
        | `reject`   | **Declined upon receipt**<br>           |  [Notify that the buyer has declined the order](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1reject/post)
        | `cancel`   | **Canceled by the supplier**   |  [Cancel the order](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1cancel/post)
        | `cancel_missed_call` | **Cancellation due to unreachable buyer**<br> | The status changes automatically |

        `wbStatus` is a status of an order on the Wildberries side.<br>
        Possible values for this field are:
        - `waiting` — assembly order in work
        - `sold` — the buyer got the order
        - `canceled` — assembly order canceled
        - `canceled_by_client` — the buyer canceled the order
        - `declined_by_client` — the buyer canceled the order in the first hour <br> Cancellation is available to the buyer in the first hour from the moment of order, if the order is not transferred to confirm status.
        - `defect` — order canceled due to a defect
        - `ready_for_pickup` — the order arrived the pickup point
        - `canceled_by_missed_call`— cancellation due to unreachable buyer. For delivery by supplier

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrderStatusesV2'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/status/cancel:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Assembly Orders
      summary: Cancel Assembly Orders
      description: |
        The method transfers [assembly orders](/openapi/orders-dbs#tag/DBS-Assembly-Orders) with the `new` and `confirm` [statuses](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) to the `cancel` status  — canceled by the supplier.
        You can not cancel assembly orders with the `deliver` status.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 10 requests |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/status/confirm:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Assembly Orders
      summary: Transfer to Assembly
      description: |
        The method transfers [assembly orders](/openapi/orders-dbs#tag/DBS-Assembly-Orders) with the `new` [status](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) to the `confirm` status — order on assembly.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 10 requests |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/stickers:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      x-token-types:
        - personal
        - service
      security:
        - HeaderApiKey: []
      tags:
        - DBS Assembly Orders
      summary: Get Stickers for Assembly Orders with Delivery to Pickup Point
      description: |
        <div class="description_token">Method is available by <a href="/openapi/api-information#tag/Authorization/Rules-for-using-API-access-tokens">token types</a>:<strong> Personal</strong>,<strong> Service</strong> </div>

        The method returns stickers for the assembly orders with delivery to pickup points in the [statuses](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post):
          - `confirm` — on assembly
          - `deliver` — in delivery

        You can get stickers only with 580x400 px size in PDF format.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        </div>
      parameters:
        - name: type
          in: query
          required: true
          description: Sticker format
          schema:
            type: string
            enum:
              - pdf
        - name: width
          in: query
          required: true
          description: Sticker width
          schema:
            type: integer
            enum:
              - 58
        - name: height
          in: query
          required: true
          description: Sticker height
          schema:
            type: integer
            enum:
              - 40
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - orders
              properties:
                orders:
                  type: array
                  minItems: 1
                  maxItems: 100
                  description: Assembly orders ID list
                  items:
                    type: integer
                    format: int64
                    example: 5346346
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  stickers:
                    type: array
                    nullable: false
                    description: Stickers
                    items:
                      type: object
                      required:
                        - barcode
                        - file
                        - orderId
                        - partA
                        - partB
                      properties:
                        orderId:
                          type: integer
                          format: int64
                          nullable: false
                          description: Assembly order ID
                          example: 5346346
                        partA:
                          type: string
                          nullable: false
                          description: The first part of the sticker ID
                          example: '231648'
                        partB:
                          type: string
                          nullable: false
                          description: The second part of the sticker ID
                          example: '9753'
                        barcode:
                          type: string
                          nullable: false
                          description: The encoded value of the sticker
                          example: '!uKEtQZVx'
                        file:
                          type: string
                          nullable: false
                          description: Base64 encoded representation of the sticker
                          example: JVBER...ZWYKMTM5MQolJUVPRg==
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/status/deliver:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Assembly Orders
      summary: Transfer to Delivery
      description: |
        The method transfers [assembly orders](/openapi/orders-dbs#tag/DBS-Assembly-Orders) with the `confirm` [status](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) to the `deliver` status — order on delivery.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 10 requests |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/status/receive:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Assembly Orders
      summary: Notify that the Orders Are Received
      description: |
        The method transfers [assembly orders](/openapi/orders-dbs#tag/DBS-Assembly-Orders) with the `deliver` [status](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) to the `receive` status — received by the buyer.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 10 requests |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersCodeRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  requestId: 03615778-eb9e-4f55-b4Of-fd3ac0fad2сc
                  results:
                    - orderId: 4299281547
                      isError: true
                      errors:
                        - code: 404
                          detail: NotFound
                    - orderId: 4279781545
                      isError: false
                properties:
                  requestId:
                    type: string
                    description: Unique request ID
                    example: f1787bd2d1fdс35d6f537316514у4a05
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        errors:
                          items:
                            type: object
                            properties:
                              code:
                                type: integer
                                description: Error code
                                example: 404
                              detail:
                                type: string
                                description: |
                                  - `NotFound` — assembly order is not found
                                  - `StatusMismatch` — operation is not possible for this assembly order status
                                  - `SGTINIsNotFilled` — required [Data Matrix Code](./orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1sgtin/post) is not specified
                                example: NotFound
                          type: array
                          description: Error details
                        isError:
                          type: boolean
                          description: Are there any errors
                          example: true
                        orderId:
                          type: integer
                          description: Assembly order ID with successfully set data
                          example: 123456
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/status/reject:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Assembly Orders
      summary: Notify that the Orders Are Declined
      description: |
        The method transfers [assembly orders](/openapi/orders-dbs#tag/DBS-Assembly-Orders) with the `deliver` [status](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) to the `reject` status — declined upon receipt.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 10 requests |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersCodeRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/status:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Assembly Orders
      summary: Get orders statuses
      deprecated: true
      description: "This method is deprecated. It will be removed on\_[April 13](https://dev.wildberries.ru/en/release-notes?id=378)\n"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - orders
              properties:
                orders:
                  type: array
                  minItems: 1
                  maxItems: 1000
                  description: Orders IDs list
                  items:
                    type: integer
                    format: int64
                    example: 5632423
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    nullable: false
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          nullable: false
                          description: Assembly order ID
                          example: 5632423
                        supplierStatus:
                          type: string
                          nullable: false
                          description: Assembly order status set by the seller
                          example: new
                        wbStatus:
                          type: string
                          nullable: false
                          description: Order status in the Wildberries system
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/{orderId}/cancel:
    servers:
      - url: https://marketplace-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Assembly Orders
      summary: Cancel the Order
      deprecated: true
      description: "This method is deprecated. It will be removed on\_[April 13](https://dev.wildberries.ru/en/release-notes?id=378)\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Introduction/Rate-Limits\">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:\n\n| Type | Period | Limit | Interval | Burst |\n| --- | --- | --- | --- | --- |\n| Personal | 1 min | 100 requests | 600 ms | 20 requests |\n| Service | 1 min | 100 requests | 600 ms | 20 requests |\n| Base | 1 h | 50 requests | 72 s | 1 request |\n\nOne request with a response code of <code>409</code> is counted as 10 requests\n</div>\n"
      parameters:
        - $ref: '#/components/parameters/Order'
      responses:
        '204':
          description: Canceled
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Status update error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/{orderId}/confirm:
    servers:
      - url: https://marketplace-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Assembly Orders
      summary: Transfer to Assembly
      deprecated: true
      description: "This method is deprecated. It will be removed on\_[April 13](https://dev.wildberries.ru/en/release-notes?id=378)\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Introduction/Rate-Limits\">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:\n\n| Type | Period | Limit | Interval | Burst |\n| --- | --- | --- | --- | --- |\n| Personal | 1 min | 100 requests | 600 ms | 20 requests |\n| Service | 1 min | 100 requests | 600 ms | 20 requests |\n| Base | 1 h | 50 requests | 72 s | 1 request |\n\nOne request with a response code of <code>409</code> is counted as 10 requests\n</div>\n"
      parameters:
        - $ref: '#/components/parameters/OrderDBS'
      responses:
        '204':
          description: Confirmed
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Status update error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/{orderId}/deliver:
    servers:
      - url: https://marketplace-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Assembly Orders
      summary: Transfer to Delivery
      deprecated: true
      description: "This method is deprecated. It will be removed on\_[April 13](https://dev.wildberries.ru/en/release-notes?id=378)\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Introduction/Rate-Limits\">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:\n\n| Type | Period | Limit | Interval | Burst |\n| --- | --- | --- | --- | --- |\n| Personal | 1 min | 100 requests | 600 ms | 20 requests |\n| Service | 1 min | 100 requests | 600 ms | 20 requests |\n| Base | 1 h | 50 requests | 72 s | 1 request |\n\nOne request with a response code of <code>409</code> is counted as 10 requests\n</div>\n"
      parameters:
        - $ref: '#/components/parameters/OrderDBS'
      responses:
        '204':
          description: Confirmed
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Status update error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/{orderId}/receive:
    servers:
      - url: https://marketplace-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Assembly Orders
      summary: Notify That the Order Has Been Accepted by the Buyer
      deprecated: true
      description: "This method is deprecated. It will be removed on\_[April 13](https://dev.wildberries.ru/en/release-notes?id=378)\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Introduction/Rate-Limits\">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:\n\n| Type | Period | Limit | Interval | Burst |\n| --- | --- | --- | --- | --- |\n| Personal | 1 min | 100 requests | 600 ms | 20 requests |\n| Service | 1 min | 100 requests | 600 ms | 20 requests |\n| Base | 1 h | 50 requests | 72 s | 1 request |\n\nOne request with a response code of <code>409</code> is counted as 10 requests\n</div>\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Code'
      parameters:
        - $ref: '#/components/parameters/OrderDBS'
      responses:
        '204':
          description: Confirmed
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Status update error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
                InvalidWBCode:
                  $ref: '#/components/examples/InvalidWBCode'
                SGTINIsNotFilled:
                  $ref: '#/components/examples/SGTINIsNotFilled'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/{orderId}/reject:
    servers:
      - url: https://marketplace-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Assembly Orders
      summary: Notify That the Buyer Has Declined the Order
      deprecated: true
      description: "This method is deprecated. It will be removed on\_[April 13](https://dev.wildberries.ru/en/release-notes?id=378)\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Introduction/Rate-Limits\">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:\n\n| Type | Period | Limit | Interval | Burst |\n| --- | --- | --- | --- | --- |\n| Personal | 1 min | 100 requests | 600 ms | 20 requests |\n| Service | 1 min | 100 requests | 600 ms | 20 requests |\n| Base | 1 h | 50 requests | 72 s | 1 request |\n\nOne request with a response code of <code>409</code> is counted as 10 requests\n</div>\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Code'
      parameters:
        - $ref: '#/components/parameters/OrderDBS'
      responses:
        '204':
          description: Confirmed
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Status update error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
                InvalidWBCode:
                  $ref: '#/components/examples/InvalidWBCode'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/info:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Metadata
      summary: Get Assembly Orders Metadata
      description: |
        Returns assembly orders metadata.<br>
        You can get the list of metadata available for the assembly order via the [list of new assembly orders](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1v3~1dbs~1orders~1new/get) method, field `requiredMeta`.<br>
        Possible metadata:
        - `imei` — [IMEI](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1imei/post)
        - `uin` — [UIN](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1uin/post)
        - `gtin` — [GTIN](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1gtin/post)
        - `sgtin` — [Data Matrix code](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1sgtin/post)
        - `customsDeclaration` — [customs declaration number](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1meta~1customs-declaration/post)

        If the response has an empty `meta` structure, the assembly order has no metadata and you can't add it.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>getting and deleting DBS metadata</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 150 requests | 400 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrdersMetaResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/delete:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Metadata
      summary: Delete Assembly Orders Metadata
      description: |
        Removes all [assembly order metadata](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1info/post) values.
        <br><br>
        You can only delete one type of metadata in one request.
        Specify the metadata type in the request:
        - `imei` — [IMEI](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1imei/post)
        - `uin` — [UIN](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1uin/post)
        - `gtin` — [GTIN](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1gtin/post)
        - `sgtin` — [Data Matrix code](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1sgtin/post)
        - `customsDeclaration` — [customs declaration number](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1meta~1customs-declaration/post)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>getting and deleting DBS metadata</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 150 requests | 400 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersMetaDeleteRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '409':
          description: Metadata deletion error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/sgtin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Metadata
      summary: Add Data Matrix Codes to Assembly Orders (Chestny ZNAK)
      description: |
        Sets the Data Matrix code (Chestny ZNAK marking) for the assembly orders. <br>
        You can set the Data Matrix code only for orders in the `confirm` status and if the field `sgtin` is returned in the response of the [Get order metadata](orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1info/post) method.
        <br>
        For more information about Data Matrix Codes please check: https://chestnyznak.ru/en/.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>adding DBS metadata</strong>:

        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 500 requests | 120 ms | 20 requests |
        | Service | 1 min | 500 requests | 120 ms | 20 requests |
        | Base | 1 h | 10 requests | 6 min | 1 request |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersSGTINsSetRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '409':
          description: Metadata update error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/uin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Metadata
      summary: Add UIN (Unique Identification Number) to Assembly Orders
      description: |
        Sets the UIN to the [assembly orders metadata](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1info/post). <br>
        The order can only have one UIN.
        You can add the UIN only for assembly orders in the `confirmed` [status](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) and that are delivered by Wildberries.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>adding DBS metadata</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 500 requests | 120 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersUINSetRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '409':
          description: Metadata update error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/imei:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Metadata
      summary: Add IMEI to Assembly Orders
      description: |
        Sets the IMEI for the [assembly orders metadata](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1info/post). <br>
        The assembly order can have only one IMEI.
        You can add the IMEI only for orders in the `confirmed` [status](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) and that are delivered by Wildberries.<br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>adding DBS metadata</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 500 requests | 120 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersIMEISetRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '409':
          description: Metadata update error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/gtin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Metadata
      summary: Add GTIN to Assembly Orders
      description: |
        Sets the GTIN, Belarus product unique identifier, for the assembly order metadata(./orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1info/post). <br>
        The assembly order can only have one GTIN.
        You can set the GTIN only for orders in the `confirmed` [status](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) and that are delivered by Wildberries.<br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>adding DBS metadata</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 500 requests | 120 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersGTINSetRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
        '409':
          description: Metadata update error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/dbs/orders/meta/customs-declaration:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Metadata
      summary: Add Custom Declaration to the Orders
      description: |
        Sets the cargo customs declaration number in the metadata of the assembly orders.

        One assembly order can have only one cargo customs declaration number.

        The customs declaration number can only be added to assembly orders that are in `deliver` status.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>adding DBS metadata</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 500 requests | 120 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orders:
                  type: array
                  maxItems: 1000
                  items:
                    type: object
                    properties:
                      customsDeclaration:
                        type: string
                        minLength: 17
                        maxLength: 29
                        description: Customs declaration number
                        example: 10704010/010624/0000302
                      orderId:
                        type: integer
                        description: Assembly order ID
                    required:
                      - customsDeclaration
                      - orderId
      responses:
        '204':
          description: Updated
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Metadata update error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/{orderId}/meta:
    servers:
      - url: https://marketplace-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Metadata
      summary: Get order metadata
      deprecated: true
      description: "This method is deprecated. It will be removed on\_[April 13](https://dev.wildberries.ru/en/release-notes?id=378)\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Introduction/Rate-Limits\">Request limit</a> per one seller's account for all methods for <strong>adding DBS metadata</strong>:\n\n| Type | Period | Limit | Interval | Burst |\n| --- | --- | --- | --- | --- |\n| Personal | 1 min | 300 requests | 200 ms | 20 requests |\n| Service | 1 min | 300 requests | 200 ms | 20 requests |\n| Base | 1 h | 10 requests | 6 min | 1 request |\n\nOne request with a response code of <code>409</code> is counted as 10 requests\n</div>\n"
      parameters:
        - $ref: '#/components/parameters/Order'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                nullable: false
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/429'
    delete:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Metadata
      summary: Delete Order Metadata
      deprecated: true
      description: "This method is deprecated. It will be removed on\_[April 13](https://dev.wildberries.ru/en/release-notes?id=378)\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Introduction/Rate-Limits\">Request limit</a> per one seller's account for all methods for <strong>adding DBS metadata</strong>:\n\n| Type | Period | Limit | Interval | Burst |\n| --- | --- | --- | --- | --- |\n| Personal | 1 min | 300 requests | 200 ms | 20 requests |\n| Service | 1 min | 300 requests | 200 ms | 20 requests |\n| Base | 1 h | 10 requests | 6 min | 1 request |\n\nOne request with a response code of <code>409</code> is counted as 10 requests\n</div>\n"
      parameters:
        - $ref: '#/components/parameters/Order'
        - name: key
          in: query
          schema:
            type: string
          description: Name of metadata to delete (**imei**, **uin**, **gtin**, **sgtin**). Only one value is passed
      responses:
        '204':
          description: Deleted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '409':
          description: Metadata delete error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/{orderId}/meta/sgtin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Metadata
      summary: Add Data Matrix Code to the Order
      deprecated: true
      description: "This method is deprecated. It will be removed on\_[April 13](https://dev.wildberries.ru/en/release-notes?id=378)\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Introduction/Rate-Limits\">Request limit</a> per one seller's account for all methods for <strong>adding DBS metadata</strong>:\n\n| Type | Period | Limit | Interval | Burst |\n| --- | --- | --- | --- | --- |\n| Personal | 1 min | 1000 requests | 60 ms | 20 requests |\n| Service | 1 min | 1000 requests | 60 ms | 20 requests |\n| Base | 1 h | 10 requests | 6 min | 1 request |\n\nOne request with a response code of <code>409</code> is counted as 10 requests\n</div>\n"
      parameters:
        - $ref: '#/components/parameters/Order'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sgtins:
                  type: array
                  description: List of Data Matrix codes.From 16 to 135 characters for one label.
                  minItems: 1
                  maxItems: 24
                  items:
                    type: string
                    description: Label code on the package. From 16 to 135 characters.
                    example: '1234567890123456'
      responses:
        '204':
          description: Sent
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Error adding label
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/{orderId}/meta/uin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Metadata
      summary: Add UIN (Unique Identification Number) to the Order
      deprecated: true
      description: "This method is deprecated. It will be removed on\_[April 13](https://dev.wildberries.ru/en/release-notes?id=378)\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Introduction/Rate-Limits\">Request limit</a> per one seller's account for all methods for <strong>adding DBS metadata</strong>:\n\n| Type | Period | Limit | Interval | Burst |\n| --- | --- | --- | --- | --- |\n| Personal | 1 min | 1000 requests | 60 ms | 20 requests |\n| Service | 1 min | 1000 requests | 60 ms | 20 requests |\n| Base | 1 h | 10 requests | 6 min | 1 request |\n\nOne request with a response code of <code>409</code> is counted as 10 requests\n</div>\n"
      parameters:
        - $ref: '#/components/parameters/Order'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                uin:
                  type: string
                  minLength: 16
                  maxLength: 16
                  description: UIN
                  example: '1234567890123456'
              required:
                - uin
      responses:
        '204':
          description: Updated
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Metadata update error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/{orderId}/meta/imei:
    servers:
      - url: https://marketplace-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Metadata
      summary: Add IMEI to the Order
      deprecated: true
      description: "This method is deprecated. It will be removed on\_[April 13](https://dev.wildberries.ru/en/release-notes?id=378)\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Introduction/Rate-Limits\">Request limit</a> per one seller's account for all methods for <strong>adding DBS metadata</strong>:\n\n| Type | Period | Limit | Interval | Burst |\n| --- | --- | --- | --- | --- |\n| Personal | 1 min | 1000 requests | 60 ms | 20 requests |\n| Service | 1 min | 1000 requests | 60 ms | 20 requests |\n| Base | 1 h | 10 requests | 6 min | 1 request |\n\nOne request with a response code of <code>409</code> is counted as 10 requests\n</div>\n"
      parameters:
        - $ref: '#/components/parameters/Order'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                imei:
                  type: string
                  minLength: 15
                  maxLength: 15
                  description: IMEI
                  example: '123456789012345'
              required:
                - imei
      responses:
        '204':
          description: Updated
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Metadata update error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/dbs/orders/{orderId}/meta/gtin:
    servers:
      - url: https://marketplace-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - DBS Metadata
      summary: Add GTIN to the Order
      deprecated: true
      description: "This method is deprecated. It will be removed on\_[April 13](https://dev.wildberries.ru/en/release-notes?id=378)\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Introduction/Rate-Limits\">Request limit</a> per one seller's account for all methods for <strong>adding DBS metadata</strong>:\n\n| Type | Period | Limit | Interval | Burst |\n| --- | --- | --- | --- | --- |\n| Personal | 1 min | 1000 requests | 60 ms | 20 requests |\n| Service | 1 min | 1000 requests | 60 ms | 20 requests |\n| Base | 1 h | 10 requests | 6 min | 1 request |\n\nOne request with a response code of <code>409</code> is counted as 10 requests\n</div>\n"
      parameters:
        - $ref: '#/components/parameters/Order'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                gtin:
                  type: string
                  minLength: 13
                  maxLength: 13
                  description: GTIN
                  example: '1234567890123'
              required:
                - gtin
      responses:
        '204':
          description: Updated
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Metadata update error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
        '429':
          $ref: '#/components/responses/429'
components:
  securitySchemes:
    HeaderApiKey:
      type: apiKey
      name: Authorization
      in: header
  parameters:
    OrderDBS:
      name: orderId
      in: path
      required: true
      description: Assembly order ID
      schema:
        type: integer
        format: int64
        example: 5632423
    Order:
      name: orderId
      in: path
      required: true
      description: Assembly order ID
      schema:
        type: integer
        format: int64
        example: 5632423
    Next:
      name: next
      in: query
      required: true
      schema:
        type: integer
        format: int64
      description: Pagination parameter. Sets the value from which to retrieve the next batch. It should start at 0 to get the full list of data. For the subsequent requests, you must take the value from the `next` field in the response.
    Limit:
      name: limit
      in: query
      required: true
      schema:
        type: integer
        minimum: 1
        maximum: 1000
      description: Pagination parameter. Sets the limit for the amount of data returned.
  examples:
    IncorrectRequestBody:
      description: Incorrect request body
      value:
        code: IncorrectRequestBody
        message: ''
    IncorrectRequest:
      value:
        message: Incorrect request parameters
    IncorrectRequest1:
      description: Incorrect Request
      value:
        code: IncorrectRequest
        message: ''
    IncorrectParameter:
      value:
        message: Incorrect parameter value
    FailedToUpdateMeta:
      value:
        message: Failed to update order metadata. Ensure that the order meets all necessary requirements (the order exists, is in the "In Assembly" status, and has accessible metadata; see the description of the **Get order metadata** method)
    StatusMismatch:
      value:
        message: Status change is not allowed for the order
    InvalidWBCode:
      description: Invalid code
      value:
        code: InvalidWBCode
        message: ''
    SGTINIsNotFilled:
      description: Required [Data Matrix Code](./orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1sgtin/post) is not specified
      value:
        code: SGTINIsNotFilled
        message: ''
  responses:
    '401':
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Error title
              detail:
                type: string
                description: Error details
              code:
                type: string
                description: Internal error code
              requestId:
                type: string
                description: Unique request ID
              origin:
                type: string
                description: WB internal service ID
              status:
                type: number
                description: HTTP status code
              statusText:
                type: string
                description: Text of the HTTP status code
              timestamp:
                type: string
                format: date-time
                description: Request date and time
          example:
            title: unauthorized
            detail: 'token problem; token is malformed: could not base64 decode signature: illegal base64 data at input byte 84'
            code: 07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75
            requestId: 7b80742415072fe8b6b7f7761f1d1211
            origin: s2s-api-auth-catalog
            status: 401
            statusText: Unauthorized
            timestamp: '2024-09-30T06:52:38Z'
    '402':
      description: Payment required
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Error title
              detail:
                type: string
                description: Error details. The error is only returned to services from the [Solutions for business Catalog](https://dev.wildberries.ru/business-solutions)
          example:
            title: payment required
            detail: wb solution for business has insufficient funds on its balance. please top up the balance in the company's personal account https://dev.wildberries.ru/company
    '429':
      description: Too many requests
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Error title
              detail:
                type: string
                description: Error details
              code:
                type: string
                description: Internal error code
              requestId:
                type: string
                description: Unique request ID
              origin:
                type: string
                description: WB internal service ID
              status:
                type: number
                description: HTTP status code
              statusText:
                type: string
                description: Text of the HTTP status code
              timestamp:
                type: string
                format: date-time
                description: Request date and time
          example:
            title: too many requests
            detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
            code: 07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]
            requestId: 9d3c02cc698f8b041c661a7c28bed293
            origin: s2s-api-auth-catalog
            status: 429
            statusText: Too Many Requests
            timestamp: '2024-09-30T06:52:38Z'
    NotFound:
      description: The resource is not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Не найдено
    AccessDenied:
      description: Access denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: ''
  schemas:
    api.OrderGroupsRequest:
      type: object
      properties:
        groups:
          type: array
          maxItems: 1000
          description: List of `groupId` values. Can be obtained from [new](./orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1v3~1dbs~1orders~1new/get) and [completed](./orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1v3~1dbs~1orders/get) assembly orders.
          items:
            type: string
      example:
        groups:
          - 7a2c8810-1db2-4011-9682-5c7fa33afd83
          - 5a8f4523-4cf2-5691-9682-5a7fd33afd73
    Error:
      type: object
      nullable: false
      properties:
        code:
          type: string
          description: Error code
          nullable: false
        message:
          type: string
          description: Error description
          nullable: false
        data:
          type: object
          description: Additional data for the error
          nullable: true
    OrdersRequestAPI:
      properties:
        orders:
          description: Assembly orders ID list
          items:
            type: integer
          type: array
      type: object
      example:
        orders:
          - 987654321
          - 123456789
    api.OrderGroup:
      type: array
      nullable: true
      items:
        type: object
        properties:
          groupID:
            description: Assembly order group ID
            type: string
            format: UUID
            example: 0596a30a-d11c-4210-a231-ee1c39d61fe4
          deliveryCost:
            description: The cost of paid delivery in the sale currency, multiplied by 100
            type: integer
            example: 1108
          convertedDeliveryCost:
            description: The cost of paid delivery in the seller's country currency, multiplied by 100. Provided for informational purposes
            type: integer
            example: 29803
          currencyCode:
            description: Sale currency code
            format: ISO 4217
            type: integer
            example: 933
          convertedCurrencyCode:
            description: Seller's country currency code
            type: integer
            example: 643
    DeliveryDatesRequest:
      properties:
        orders:
          description: List of orders IDs
          items:
            type: integer
            minItems: 1
            maxItems: 1000
          type: array
      type: object
      example:
        orders:
          - 1234567890
    Code:
      properties:
        code:
          type: string
          description: Confirmation code. Displayed to the buyer on the website and in the Wildberries app
      type: object
      example:
        code: '123456'
    Next:
      type: integer
      format: int64
      nullable: false
      description: Pagination parameter. Sets the value from which to retrieve the next batch
      example: 13833711
    OrderNewDBS:
      type: object
      properties:
        salePrice:
          description: |
            Seller's price in the currency of sale, including seller's discount, except the WB Club discount, multiplied by 100
          type: integer
          nullable: true
          example: 504600
        requiredMeta:
          description: List of metadata available for the assembly order. [Specifying the IMEI](./orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1imei/post) is required for `Smartphones` [subject](./work-with-products#tag/Categories-Subjects-and-Characteristics/paths/~1content~1v2~1object~1all/get), `"subjectId":515`
          type: array
          nullable: true
          items:
            type: string
          example:
            - uin
        comment:
          type: string
          nullable: false
          description: Buyer comment
          maxLength: 300
          example: Упакуйте в пленку, пожалуйста
        options:
          type: object
          description: Order options
          properties:
            isB2b:
              type: boolean
              description: |
                Indicator of a B2B sale:
                  - `false` — not B2B sale
                  - `true` — B2B sale
        address:
          type: object
          nullable: false
          description: When delivering orders to a pickup point, the address of the pickup point is specified
          properties:
            fullAddress:
              description: Delivery address
              type: string
              example: Chelyabinsk Region, Chelyabinsk, 51st Arabkir Street, Building 10A, Apartment 42
            longitude:
              type: number
              format: float64
              nullable: false
              description: Longitude
              example: 44.519068
            latitude:
              type: number
              format: float64
              nullable: false
              description: Latitude
              example: 40.20192
        orderUid:
          type: string
          description: Transaction ID for order grouping. Orders in the same buyer's cart will have the same `orderUid`.
          example: 165918930_629fbc924b984618a44354475ca58675
        groupId:
          description: Assembly order group ID. <br> It unites assembly orders received at a single warehouse (`warehouseId`) as part of a single buyer transaction (`orderUid`)
          type: string
          format: UUID
          example: 7a2c8810-1db2-4011-9682-5c7fa33afd83
        article:
          type: string
          nullable: false
          description: Supplier's article
          example: one-ring-7548
        colorCode:
          description: Color code (for tinted products only)
          type: string
          nullable: false
          example: RAL 3017
        rid:
          type: string
          nullable: false
          description: |
            Unique order ID. <br>
            Note: `rid` corresponds to `srid` in the responses of the methods:
              - [Buyers return applications](./user-communication#tag/Buyers-Returns/paths/~1api~1v1~1claims/get)
              - [Orders](./reports#tag/Main-Reports/paths/~1api~1v1~1supplier~1orders/get)
              - [Sales](./reports#tag/Main-Reports/paths/~1api~1v1~1supplier~1sales/get)
              - [Goods Return Report](./reports#tag/Goods-Return-Report)
              - [Realization sales report](./financial-reports-and-accounting#tag/Financial-Reports/paths/~1api~1v5~1supplier~1reportDetailByPeriod/get)
          example: f884001e44e511edb8780242ac120002
        createdAt:
          type: string
          format: date-time
          nullable: false
          description: Order creation date
          example: '2022-05-04T07:56:29Z'
        deliveryType:
          type: string
          nullable: false
          description: |
            Delivery type:
             - `dbs` — Delivery By Supplier
             - `dbsPickupPoint` — Delivery By Supplier to Pickup Point
             - `edbs` — Express Delivery By Supplier
          enum:
            - dbs
            - edbs
            - dbsPickupPoint
        skus:
          type: array
          nullable: false
          description: Product barcode array
          items:
            type: string
            example: '6665956397512'
        id:
          type: integer
          format: int64
          nullable: false
          description: Assembly order ID
          example: 13833711
        warehouseId:
          type: integer
          nullable: false
          description: Supplier's warehouse ID where the order was received
          example: 658434
        nmId:
          type: integer
          nullable: false
          description: WB article
          example: 123456789
        chrtId:
          type: integer
          nullable: false
          description: Product size ID in WB systems
          example: 987654321
        price:
          type: integer
          nullable: false
          description: The price in the currency of sale including all discounts, except WB Wallet discount, multiplied by 100. You can find a currency code in the `currencyCode`. Provided for informational purposes only
          example: 1014
        finalPrice:
          description: The sum charged to the buyer in the currency of sale including all discounts, multiplied by 100. You can find a currency code in the `currencyCode` field. Provided for informational purposes only
          type: integer
          example: 1014
        convertedFinalPrice:
          description: The sum charged to the buyer in the currency of the seller's country including all discounts, multiplied by 100. Provided for informational purposes only
          type: integer
          example: 1014
        convertedPrice:
          type: integer
          nullable: false
          description: The price in the currency of the seller's country including all discounts, except WB Wallet discount, multiplied by 100. Provided for informational purposes only
          example: 1014
        currencyCode:
          type: integer
          nullable: false
          format: ISO 4217
          description: Sale currency code
          example: 643
        convertedCurrencyCode:
          type: integer
          nullable: false
          format: ISO 4217
          description: Currency code of the supplier country
          example: 643
        cargoType:
          type: integer
          nullable: false
          description: |
            Type of cargo:
              - `1` — small-sized goods
              - `2` — over dimensional cargo (ODC)
              - `3` — dimensional cargo+ (CD+)
          enum:
            - 1
            - 2
            - 3
        isZeroOrder:
          type: boolean
          description: |
            Indicator of an order for a product with zero inventory:
              - `false` — the order is made for a product with a non-zero inventory
              - `true` — the order is made for a product with zero inventory. Such an order can be canceled without a cancellation fee
          example: false
        wbStickerId:
          type: integer
          description: Sticker ID. Only displayed for orders to pickup point
          nullable: false
          example: 123456
    OrderDBS:
      type: object
      properties:
        address:
          type: object
          nullable: true
          description: When delivering orders to a pickup point, the address of the pickup point is specified
          properties:
            fullAddress:
              description: Delivery address
              type: string
              example: Chelyabinsk Region, Chelyabinsk, 51st Arabkir Street, Building 10A, Apartment 42
            longitude:
              type: number
              format: float64
              nullable: false
              description: Longitude
              example: 44.519068
            latitude:
              type: number
              format: float64
              nullable: false
              description: Latitude
              example: 40.20192
        deliveryType:
          type: string
          nullable: false
          description: |
            Delivery type:
            - `dbs` — Delivery By Supplier
            - `dbsPickupPoint` — Delivery By Supplier to Pickup Point
            - `edbs` — Express Delivery By Supplier
        options:
          type: object
          description: Order options
          properties:
            isB2b:
              type: boolean
              description: |
                Indicator of a B2B sale:
                  - `false` — not B2B sale
                  - `true` — B2B sale
        orderUid:
[...]
