openapi: 3.0.1
info:
  title: Marketing and Promotions
  version: promotion
  description: |
    Campaign Management, bid settings, financial data accounting, and settings for with standard and custom bid and media campaigns.

    Data synchronization from the database occurs every 3 minutes. Status changes occur every 1 minute. The bid change occurs every 30 seconds. The latest changes are saved within the intervals
  x-file-name: promotion
security:
  - HeaderApiKey: []
tags:
  - name: Campaigns
    description: ''
  - name: Campaigns Creation
    description: ''
  - name: Campaigns Management
    description: ''
  - name: Search Clusters
    description: ''
  - name: Finances
    description: ''
  - name: Media
    description: ''
  - name: Statistics
    description: ''
  - name: Promotions Calendar
    description: ''
paths:
  /adv/v1/promotion/count:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Campaigns Lists
      description: |
        Method allows to get campaigns lists grouped by type and status with information about last campaign change date.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 5 requests | 200 ms | 5 requests |
        </div>
      tags:
        - Campaigns
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  adverts:
                    type: array
                    nullable: true
                    description: Campaign data
                    items:
                      type: object
                      properties:
                        type:
                          description: |
                            Campaign type:
                              - `8` — campaign with standard bid (**deprecated type**)
                              - `9` — campaign with standard or custom bid. You can get the bid type with the [Campaigns Information](./openapi/promotion#tag/Campaigns/paths/~1api~1advert~1v2~1adverts/get) method, `bid_type` field
                          type: integer
                        status:
                          description: Campaign status
                          type: integer
                        count:
                          description: Campaigns number
                          type: integer
                        advert_list:
                          description: Campaigns list
                          type: array
                          items:
                            type: object
                            properties:
                              advertId:
                                description: Campaign ID
                                type: integer
                              changeTime:
                                description: Date and time of the last campaign change
                                type: string
                                format: date-time
                  all:
                    description: Total number of campaigns with all statuses and types
                    type: integer
              example:
                adverts:
                  - type: 9
                    status: 8
                    count: 3
                    advert_list:
                      - advertId: 6485174
                        changeTime: '2023-05-10T12:12:52.676254+03:00'
                      - advertId: 6500443
                        changeTime: '2023-05-10T17:08:46.370656+03:00'
                      - advertId: 7936341
                        changeTime: '2023-07-12T15:51:08.367478+03:00'
                all: 3
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/advert/v2/adverts:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Campaigns Information
      description: |
        The method returns information about campaigns with standard or custom bid via statuses, payment types and IDs.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 5 requests | 200 ms | 5 requests |
        </div>
      tags:
        - Campaigns
      parameters:
        - name: ids
          in: query
          description: Campaign IDs, maximum 50
          schema:
            type: string
            example: 12345,23456,34567,45678,56789
        - name: statuses
          in: query
          description: |
            Campaign statuses:
            - `-1` — deleted, the deletion process will be completed within 10 minutes
            - `4` — ready to be launched
            - `7` — completed
            - `8` — declined
            - `9` — active
            - `11` — paused
          schema:
            type: string
            example: '-1,4,8'
        - name: payment_type
          in: query
          description: |
            Payment type:
            - `cpm` — cost per mille
            - `cpc` — cost per click
          schema:
            type: string
            enum:
              - cpm
              - cpc
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAdverts'
              example:
                adverts:
                  - bid_type: manual
                    id: 567456457
                    nm_settings:
                      - bids_kopecks:
                          recommendations: 0
                          search: 0
                        nm_id: 123456789
                        subject:
                          id: 52
                          name: кошельки
                      - bids_kopecks:
                          recommendations: 11200
                          search: 11200
                        nm_id: 987654321
                        subject:
                          id: 54
                          name: ювелирные кольца
                    settings:
                      name: Кампания от 01.02.2024
                      payment_type: cpm
                      placements:
                        recommendations: false
                        search: true
                    status: 7
                    timestamps:
                      created: '2024-02-01T09:57:38.500606+03:00'
                      deleted: '2024-02-05T14:29:32.633968+03:00'
                      started: '2024-02-05T12:38:10.212086+03:00'
                      updated: '2024-02-05T14:29:32.633968+03:00'
                  - bid_type: manual
                    id: 28150154
                    nm_settings:
                      - bids_kopecks:
                          recommendations: 0
                          search: 1100
                        nm_id: 5764746785
                        subject:
                          id: 69
                          name: платья
                    settings:
                      name: 'Кампания от 28.08.2025 '
                      payment_type: cpc
                      placements:
                        recommendations: false
                        search: true
                    status: 11
                    timestamps:
                      created: '2025-08-28T09:50:57.611559+03:00'
                      deleted: '2100-01-01T00:00:00+03:00'
                      started: null
                      updated: '2025-09-10T10:14:58.475499+03:00'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/advert/v1/bids/min:
    servers:
      - url: https://advert-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: advert
      tags:
        - Campaigns Creation
      summary: Minimum Bids for Product Cards
      description: |
        Method allows minimum bids for product cards in kopecks depending on the payment type and placements.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 20 requests | 3 s | 5 requests |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - advert_id
                - nm_ids
                - payment_type
                - placement_types
              properties:
                advert_id:
                  type: integer
                  format: int64
                  description: Campaign ID
                nm_ids:
                  type: array
                  minLength: 1
                  maxLength: 100
                  items:
                    type: integer
                    format: int64
                  description: WB articles list
                payment_type:
                  type: string
                  enum:
                    - cpm
                    - cpc
                  description: |
                    Payment type:
                      - `cpm` — per mille
                      - `cpc` — per click
                placement_types:
                  description: |
                    Placements:
                      - `search` — search
                      - `recommendation` — recommendation
                      - `combined` — search and recommendation
                  type: array
                  items:
                    type: string
                    enum:
                      - combined
                      - search
                      - recommendation
            example:
              advert_id: 98765432
              nm_ids:
                - 12345678
                - 87654321
              payment_type: cpm
              placement_types:
                - combined
                - search
                - recommendation
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - bids
                properties:
                  bids:
                    type: array
                    description: List of product cards with bids
                    items:
                      type: object
                      required:
                        - nm_id
                        - bids
                      properties:
                        bids:
                          type: array
                          description: List of bids by placements
                          items:
                            type: object
                            required:
                              - type
                              - value
                            properties:
                              type:
                                $ref: '#/components/schemas/PlacementType'
                              value:
                                type: integer
                                description: Minimum bid, kopecks
                        nm_id:
                          type: integer
                          format: int64
                          description: WB article
              example:
                bids:
                  - bids:
                      - type: combined
                        value: 155
                      - type: search
                        value: 250
                      - type: recommendation
                        value: 250
                    nm_id: 12345678
                  - bids:
                      - type: combined
                        value: 155
                      - type: search
                        value: 250
                      - type: recommendation
                        value: 250
                    nm_id: 87654321
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardizedBatchError'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v2/seacat/save-ad:
    servers:
      - url: https://advert-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Create Campaign
      description: |
        The method creates campaign:
          - with custom bid for promotion products in search and/or recommendations
          - with standard bid for promotion products both in search and recommendations

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 5 requests | 12 s | 5 requests |
        </div>
      tags:
        - Campaigns Creation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Campaign name
                  type: string
                nms:
                  type: array
                  description: "Product card for this campaign. You can available product cards with [product cards for campaigns](./promotion#tag/Campaigns-Creation/paths/~1adv~1v2~1supplier~1nms/post) method. Maximum of 50\_products (`nm`)\n"
                  items:
                    type: integer
                    description: WB article (`nmId`)
                bid_type:
                  type: string
                  default: manual
                  enum:
                    - manual
                    - unified
                  description: |
                    Bid type:
                      - `unified` — standard bid
                      - `manual` — custom bid
                payment_type:
                  type: string
                  default: cpm
                  enum:
                    - cpm
                    - cpc
                  description: |
                    Payment type:
                    - `cpm` — cost per mille
                    - `cpc` — cost per click. When creating a campaign with this payment type, a minimum bid is automatically set
                placement_types:
                  type: array
                  default:
                    - search
                  description: |
                    Placements:
                      - `search` — search
                      - `recommendations` — recommendations

                     Specify for campaign with custom bid only
                  items:
                    type: string
                    enum:
                      - search
                      - recommendations
            example:
              name: Телефоны
              nms:
                - 146168367
                - 200425104
              bid_type: manual
              placement_types:
                - search
                - recommendations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: integer
                description: Campaign ID
                example: 1234567
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: string
              example: Нет доступных категорий для рк. Создайте новую кампанию для попадания в текущие категории
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v1/supplier/subjects:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Subjects for Campaigns
      description: |
        Returns subjects product cards from which are available for all campaigns

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 12 s | 1 request | 12 s | 5 requests |
        </div>
      parameters:
        - name: payment_type
          in: query
          description: |
            Payment type:
            - `cpm` — cost per mille
            - `cpc` — cost per click
          schema:
            type: string
            default: cpm
          required: false
      tags:
        - Campaigns Creation
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                nullable: true
                x-nullable: true
                items:
                  type: object
                  properties:
                    id:
                      description: Subject ID
                      type: integer
                    name:
                      description: Subject
                      type: string
                    count:
                      description: Number of WB articles (`nmId`) in this subject
                      type: integer
              examples:
                Array:
                  value:
                    - name: 3D очки
                      id: 2560
                      count: 1899
                'null':
                  value: null
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not found
        '429':
          $ref: '#/components/responses/429'
  /adv/v2/supplier/nms:
    servers:
      - url: https://advert-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Product Cards for Campaigns
      description: |
        Returns product cards that are available for all campaigns.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 5 requests | 12 s | 5 requests |
        </div>
      tags:
        - Campaigns Creation
      requestBody:
        description: ID of subjects to get product cards
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
            example:
              - 123
              - 456
              - 765
              - 321
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                description: Product cards for campaigns
                items:
                  type: object
                  properties:
                    title:
                      type: string
                      description: Product name
                      example: Плед
                    nm:
                      type: integer
                      description: WB article
                      example: 146168367
                    subjectId:
                      type: integer
                      description: Subject ID
                      example: 765
        '400':
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
              example: Error processing request body
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/delete:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Delete Campaign
      description: |
        The method allows to delete campaigns in the status `4` — ready to launch. <br>

        After deleting, the campaign will be in `-1` status for a while.<br>

        It takes between 3 and 10 minutes to completely delete the campaign.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 5 requests | 200 ms | 5 requests |
        </div>
      tags:
        - Campaigns Management
      parameters:
        - name: id
          in: query
          description: Campaign ID
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseAdvError1'
              examples:
                ResponseInvalidCampaignID:
                  $ref: '#/components/examples/ResponseInvalidCampaignID'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/rename:
    servers:
      - url: https://advert-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Rename Campaign
      description: |
        The method allows to rename a campaign. <br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 5 requests | 200 ms | 5 requests |
        </div>
      tags:
        - Campaigns Management
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - advertId
                - name
              properties:
                advertId:
                  type: integer
                  description: ID of the campaign where the name is changing
                name:
                  type: string
                  description: New name (max 100 characters)
            example:
              advertId: 2233344
              name: newname
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
              examples:
                InvalidRcIdAdv:
                  $ref: '#/components/examples/InvalidRcIdAdv'
                IncorrectName:
                  $ref: '#/components/examples/IncorrectName'
                IncorrectSupplierIdAdv:
                  $ref: '#/components/examples/IncorrectSupplierIdAdv'
        '401':
          $ref: '#/components/responses/401'
        '422':
          description: Error processing request parameters
          content:
            text/plain:
              schema:
                type: string
              examples:
                RequestBodyProcessErrorAdv:
                  $ref: '#/components/examples/RequestBodyProcessErrorAdv'
                CompanyNameChangeErr:
                  $ref: '#/components/examples/CompanyNameChangeErr'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/start:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Launch Campaign
      description: |
        The method allows to run campaigns that are in statuses `4` — ready to launch or `11` — paused campaign. <br>
        To run a campaign, check its budget. If the budget is insufficient, replenish it.<br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 5 requests | 200 ms | 5 requests |
        </div>
      tags:
        - Campaigns Management
      parameters:
        - name: id
          in: query
          description: Campaign ID
          schema:
            type: integer
            example: 1234
          required: true
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Response'
              examples:
                IncorrectId:
                  $ref: '#/components/examples/IncorrectId'
                AdvertNotFound:
                  $ref: '#/components/examples/AdvertNotFound'
                LowBudget:
                  $ref: '#/components/examples/LowBudget'
        '401':
          $ref: '#/components/responses/401'
        '422':
          description: Status not changed
          content:
            text/plain:
              schema:
                type: string
              examples:
                StatusNoChangeAdv:
                  $ref: '#/components/examples/StatusNoChangeAdv'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/pause:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Pause Campaign
      description: |
        Campaign in status `9` — active — can be paused

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 5 requests | 200 ms | 5 requests |
        </div>
      tags:
        - Campaigns Management
      parameters:
        - name: id
          in: query
          description: Campaign ID
          schema:
            type: integer
            example: 1234
          required: true
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Response'
              examples:
                IncorrectId:
                  $ref: '#/components/examples/IncorrectId'
                AdvertNotFound:
                  $ref: '#/components/examples/AdvertNotFound'
        '401':
          $ref: '#/components/responses/401'
        '422':
          description: Status not changed
          content:
            text/plain:
              schema:
                type: string
              examples:
                StatusNoChangeAdv:
                  $ref: '#/components/examples/StatusNoChangeAdv'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/stop:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Stop Campaign
      description: |-
        The method allows to end campaigns in statuses:
        - `4` — ready to launch
        - `9` — active
        - `11` — paused

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 5 requests | 200 ms | 5 requests |
        </div>
      tags:
        - Campaigns Management
      parameters:
        - name: id
          in: query
          description: Campaign ID
          schema:
            type: integer
            example: 1234
          required: true
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Response'
              examples:
                IncorrectId:
                  $ref: '#/components/examples/IncorrectId'
                AdvertNotFound:
                  $ref: '#/components/examples/AdvertNotFound'
        '401':
          $ref: '#/components/responses/401'
        '422':
          description: Status not changed
          content:
            text/plain:
              schema:
                type: string
              examples:
                StatusNoChangeAdv:
                  $ref: '#/components/examples/StatusNoChangeAdv'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/auction/placements:
    servers:
      - url: https://advert-api.wildberries.ru
    put:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Changing Placements in Campaigns with Custom Bid
      description: |
        The method allows you to change placements in campaigns with custom bid and per mille payment model — `cpm`.
        <br><br>
        For campaigns in statuses `4`, `9` and `11`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 1 request |
        </div>
      tags:
        - Campaigns Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - placements
              properties:
                placements:
                  description: Placements in campaigns
                  type: array
                  maxItems: 50
                  items:
                    type: object
                    required:
                      - advert_id
                      - placements
                    properties:
                      advert_id:
                        description: Campaign ID
                        type: integer
                        format: int64
                      placements:
                        description: Placements
                        type: object
                        required:
                          - search
                          - recommendations
                        properties:
                          search:
                            type: boolean
                            description: |
                              Placement in search:
                                - `false` — disabled
                                - `true` — enabled
                          recommendations:
                            description: |
                              Placement in recommendations
                                - `false` — disabled
                                - `true` — enabled
                            type: boolean
            example:
              placements:
                - advert_id: 12345
                  placements:
                    search: true
                    recommendations: true
      responses:
        '204':
          description: Success
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              examples:
                BadRequest:
                  value:
                    detail: can not deserialize response body
                    origin: camp-api-public-cache
                    request_id: 9a929a81ea9dc1601fcc4be81f32c1cb
                    status: 400
                    title: invalid payload
                BadAdvertPaymentType:
                  value:
                    detail: advert 12345 has payment type cpc, placements cannot be changed
                    origin: camp-api-public-cache
                    request_id: e53addfabe9274d5b8f77272ca085ac4
                    status: 400
                    title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/advert/v1/bids:
    servers:
      - url: https://advert-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Changing Campaigns Bids
      description: |
        The method changes the bids of product cards by WB articles in campaigns:
          - with standard bid
          - with custom bid
          - with a `cpc` payment model — per click

        For campaigns in statuses `4`, `9` and `11`.
        <br><br>
        Specify the placement in the request parameter `placement`:
          - `combined` —  in search and recommendations for campaigns with standard bid
          - `search `or `recommendations` — in search or recommendations for campaigns with custom bid

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 5 requests | 200 ms | 5 requests |
        </div>
      tags:
        - Campaigns Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - bids
              properties:
                bids:
                  description: Bids in campaigns, kopecks
                  type: array
                  maxItems: 50
                  items:
                    type: object
                    required:
                      - advert_id
                      - nm_bids
                    properties:
                      advert_id:
                        description: Campaign ID
                        type: integer
                        format: int64
                      nm_bids:
                        description: Bids
                        type: array
                        maxItems: 50
                        items:
                          type: object
                          required:
                            - nm_id
                            - bid_kopecks
                            - placement
                          properties:
                            nm_id:
                              type: integer
                              format: int64
                              description: WB article
                            bid_kopecks:
                              type: integer
                              format: int64
                              description: Bid, kopecks
                            placement:
                              type: string
                              enum:
                                - search
                                - recommendations
                                - combined
                              description: |
                                Placement:
                                  - `search` — in search (for campaigns with custom bid)
                                  - `recommendations`— in recommendations (for campaigns with custom bid)
                                  - `combined` — in search and recommendations (for campaigns with standard bid)
            example:
              bids:
                - advert_id: 12345
                  nm_bids:
                    - nm_id: 13335157
                      bid_kopecks: 250
                      placement: recommendations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - bids
                properties:
                  bids:
                    description: The result of processing the request
                    type: array
                    items:
                      type: object
                      required:
                        - advert_id
                        - nm_bids
                      properties:
                        advert_id:
                          description: Campaign ID
                          type: integer
                          format: int64
                        nm_bids:
                          description: Bids
                          type: array
                          items:
                            type: object
                            required:
                              - nm_id
                              - bid_kopecks
                              - placement
                            properties:
                              nm_id:
                                type: integer
                                format: int64
                                description: WB article
                              bid_kopecks:
                                type: integer
                                format: int64
                                description: Bid
                              placement:
                                type: string
                                description: |
                                  Placement:
                                    - `search` — in search
                                    - `recommendations`— in recommendations
              example:
                bids:
                  - advert_id: 12345
                    nm_bids:
                      - nm_id: 13335157
                        bid_kopecks: 250
                        placement: recommendations
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              example:
                detail: 'wrong bid value: 3; min: 150'
                origin: camp-api-public-cache
                request_id: 9a929a81ea9dc1601fcc4be81f32c1cb
                status: 400
                title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v1/balance:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Balance
      description: |
        The method allows to get information about the seller's net, balance and bonuses<br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 5 requests |
        </div>
      tags:
        - Finances
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    description: Account, ₽
                    type: integer
                  net:
                    description: Balance, ₽
                    type: integer
                  bonus:
                    description: Bonuses, ₽
                    type: integer
                  cashbacks:
                    description: Promo bonuses
                    type: array
                    items:
                      type: object
                      properties:
                        sum:
                          type: integer
                          description: Promo bonuses, ₽
                        percent:
                          type: integer
                          description: The percentage of the campaign budget top-up amount that can be paid with promo bonuses at one time
                        expiration_date:
                          type: string
                          format: ISO 8601
                          description: Promo bonuses expiration date
              example:
                balance: 11083
                net: 0
                bonus: 15187
                cashbacks:
                  - sum: 10672
                    percent: 50
                    expiration_date: '2026-04-17T10:46:02.176174Z'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: string
              examples:
                IncorrectSupplierIdAdv:
                  $ref: '#/components/examples/IncorrectSupplierIdAdv'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v1/budget:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Campaign Budget
      description: |
        The method allows to get information about the budget of a campaign.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 4 requests | 250 ms | 4 requests |
        </div>
      tags:
        - Finances
      parameters:
        - name: id
          in: query
          description: Campaign ID
          schema:
            type: integer
            example: 1
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  cash:
                    description: The field is not used. The value is always equal to 0.
                    type: integer
                  netting:
                    description: The field is not used. The value is always equal to 0.
                    type: integer
                  total:
                    description: Campaign budget, ₽
                    type: integer
              example:
                cash: 0
                netting: 0
                total: 500
        '400':
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
              examples:
                CampaignNotBelongSeller:
                  $ref: '#/components/examples/CampaignNotBelongSeller'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v1/budget/deposit:
    servers:
      - url: https://advert-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Top-up of the Campaign Budget
      description: |
        The method tops up the campaign [budget](/openapi/promotion#tag/Finances/paths/~1adv~1v1~1budget/get).<br>
        To launch the campaign after topping up the budget, use the [Launch campaign](/openapi/promotion#tag/Campaigns-Management/paths/~1adv~1v0~1start/get) method.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 5 requests |
        </div>
      tags:
        - Finances
      parameters:
        - name: id
          in: query
          description: Campaign ID
          schema:
            type: integer
            example: 1234567
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sum:
                  description: Budget top-up amount
                  type: integer
                  example: 5000
                cashback_sum:
                  description: |
                    Top-up budget sum paid with promo bonuses.
                    <br>
                    You can top up only a certain percentage of the amount, indicated in the `percent` field of the response from the method for getting [balance](./promotion#tag/Finances/paths/~1adv~1v1~1balance/get).
                    <br>
                    Promo bonuses are only applicable to these top-up sources:
                      - `0` — account
                      - `1` — balance sheet
                  type: integer
                  nullable: true
                  example: 1000
                cashback_percent:
                  description: |
                    The percentage of the top-up amount that can be paid with promo bonuses. You need to specify the value of the `percent` field from the response for the method for getting [balance]
                    <br>
                    If you specified `cashback_sum`, the `cashback_percent` parameter becomes required
                  example: 50
                  type: integer
                  nullable: true
                type:
                  description: |
                    Type of top-up source:
                    - `0` — Account
                    - `1` — Balance
                    - `3` — Bonuses
                  type: integer
                  example: 1
                return:
                  type: boolean
                  description: Response return flag (`true` means updated campaign budget size will be returned in the response, `false` or empty means nothing will be returned).
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ResponseWithReturn'
              examples:
                ResponseWithReturn:
                  $ref: '#/components/examples/ResponseWithReturn'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                DepositAmountMultiple50:
                  description: The top-up amount must be a multiple of 50 roubles
                  value:
                    error: Сумма пополнения должна быть кратна 50 руб
                MinimumDepositAmountIs500:
                  description: Minimum top-up amount is 1000 RUB
                  value:
                    error: Минимальная сумма пополнения 1000 рублей
                IncorrectType:
                  description: Wrong top-up source type for promo bonus payment
                  value:
                    error: 'Invalid Params: cashback can not be used with such type'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v1/upd:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Receiving Costs History
      description: |
        The method allows to get a costs history

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 5 requests |
        </div>
      tags:
        - Finances
      parameters:
        - name: from
          in: query
          description: Beginning of the interval
          schema:
            type: string
            format: date
            example: '2023-07-31'
          required: true
        - name: to
          in: query
          description: |
            End of interval. <br>
            (Minimum interval is 1 day, maximum is 31)
          schema:
            type: string
            format: date
            example: '2023-08-02'
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    updNum:
                      description: Billing document number (if any)
                      type: integer
                    updTime:
                      nullable: true
                      description: Time of charge-off
                      type: string
                      format: time-date
                    updSum:
                      description: Amount invoiced
                      type: integer
                    advertId:
                      description: Campaign ID
                      type: integer
                    campName:
                      description: Campaign name
                      type: string
                    advertType:
                      description: Campaign type
                      type: integer
                    paymentType:
                      description: |
                        Source of charge-off:
                         - `Баланс` — Balance
                         - `Бонусы` — Bonuses
                         - `Счёт` — Money account
                         - `Кэшбэк` — Debit card cashback
                      type: string
                    advertStatus:
                      description: |
                        Campaign status:
                        - `-1` — deleted, the deletion process will be completed within 10 minutes
                        - `4` — ready to be launched
                        - `7` — completed
                        - `8` — declined
                        - `9` — active
                        - `11` — paused
                      type: integer
              example:
                - updNum: 0
                  updTime: '2023-07-31T12:12:54.060536+03:00'
                  updSum: 24
                  advertId: 3355881
                  campName: лук лучок
                  advertType: 6
                  paymentType: Баланс
                  advertStatus: 9
                - updNum: 0
                  updTime: null
                  updSum: 107
                  advertId: 3366882
                  campName: золотая луковица
                  advertType: 8
                  paymentType: Счет
                  advertStatus: 11
        '400':
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
              examples:
                IncorrectSupplierIdAdv:
                  $ref: '#/components/examples/IncorrectSupplierIdAdv'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v1/payments:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Receiving the History of Account Top-ups
      description: |
        The method allows you to get a history of top-ups.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 5 requests |
        </div>
      tags:
        - Finances
      parameters:
        - name: from
          in: query
          description: Beginning of the interval
          schema:
            type: string
            format: date
            example: '2023-07-31'
        - name: to
          in: query
          description: |
            End of interval. <br>
            (Minimum interval is 1 day, maximum is 31)
          schema:
            type: string
            format: date
            example: '2023-08-02'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      description: Payment ID
                      type: integer
                    date:
                      description: Payment date
                      type: string
                      format: time-date
                    sum:
                      description: Payment amount
                      type: integer
                    type:
                      description: |
                        Type of charge-off source:
                        - `0` — Account
                        - `1` — Balance
                        - `3` — Card
                      type: integer
                    statusId:
                      description: |
                        Status:
                        - `0` — error
                        - `1` — processed
                      type: integer
                    cardStatus:
                      description: |
                        Transaction status (when paying by card):
                        - `success` — success
                        - `fail` — not success
                        - `pending` — waiting for response
                        - `unknown` — unknown
                      type: string
              example:
                - id: 1036666
                  date: '2022-02-04T09:06:47.985843Z'
                  sum: 600
                  type: 0
                  statusId: 1
                  cardStatus: ''
                - id: 55261296
                  date: '2023-04-13T10:07:42'
                  sum: 1500
                  type: 3
                  statusId: 1
                  cardStatus: succeeded
        '204':
          description: Transaction history not found
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: string
              examples:
                IncorrectSupplierIdAdv:
                  $ref: '#/components/examples/IncorrectSupplierIdAdv'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/auction/nms:
    servers:
      - url: https://advert-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Changing the List of Product Cards in Campaigns
      description: |
        The method allows you to add and remove product cards in campaigns.
        <br><br>
        For campaigns in statuses `4`, `9` and `11`.
        <br><br>
        The current minimum bid is set for the added products.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 1 request |
        </div>
      tags:
        - Campaigns Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - nms
              properties:
                nms:
                  description: Product cards in campaigns
                  type: array
                  maxItems: 20
                  items:
                    type: object
                    required:
                      - advert_id
                      - nms
                    properties:
                      advert_id:
                        description: Campaign ID
                        type: integer
                        format: int64
                      nms:
                        description: Product cards. Maximum of 50 products per campaign
                        type: object
                        properties:
                          add:
                            description: The product cards that need to be added
                            items:
                              type: integer
                          delete:
                            description: The product cards that need to be deleted
                            type: array
                            items:
                              type: integer
            example:
              nms:
                - advert_id: 12345
                  nms:
                    add:
                      - 11111111
                      - 44444444
                    delete:
                      - 55555555
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - nms
                properties:
                  nms:
                    description: The result of processing the request
                    type: array
                    items:
                      type: object
                      required:
                        - advert_id
                        - nms
                      properties:
                        advert_id:
                          description: Campaign ID
                          type: integer
                          format: int64
                        nms:
                          description: Product cards
                          type: object
                          required:
                            - added
                            - deleted
                          properties:
                            added:
                              description: Added product cards
                              type: array
                              items:
                                type: integer
                            deleted:
                              description: Deleted product cards
                              type: array
                              items:
                                type: integer
              example:
                nms:
                  - advert_id: 12345
                    nms:
                      added:
                        - 11111111
                        - 44444444
                      deleted:
                        - 55555555
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              example:
                detail: nomenclature 13335157 cannot be both added and deleted for advert 27247695
                origin: camp-api-public-cache
                request_id: 6023d2950af564838f9b44a279d2140c
                status: 400
                title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/advert/v0/bids/recommendations:
    servers:
      - url: https://advert-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      tags:
        - Campaigns Management
      summary: Recommended bids for items and search clusters
      description: |
        The method returns recommended bids for items and search clusters of the campaign.
        Only for campaigns with cpm payment type — cost per mille.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 5 requests | 12 s | 5 requests |
        </div>
      parameters:
        - name: nmId
          in: query
          required: true
          description: WB article
          example: 123456789
          schema:
            type: integer
            format: int64
        - name: advertId
          in: query
          required: true
          description: Campaign ID
          example: 987654321
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V0BidsRecommendationsResponse'
              example:
                advertId: 987654321
                base:
                  competitiveBid:
                    bidKopecks: 39500
                  leadersBid:
                    bidKopecks: 66900
                  top2:
                    bidKopecks: 0
                nmId: 123456789
                normQueries:
                  - normQuery: футболка
                    reachMax:
                      bidKopecks: 50500
                      bidKopecksMin: 49500
                    reachMedium:
                      bidKopecks: 32000
                    reachMin:
                      bidKopecks: 32000
        '400':
          description: Bad request
          content:
            text/plain:
              schema:
                type: string
              examples:
                IncorrectTypeAdv:
                  $ref: '#/components/examples/IncorrectTypeAdv'
                IncorrectSupplierIdAdv:
                  $ref: '#/components/examples/IncorrectSupplierIdAdv'
                IncorrectUsingMethods:
                  $ref: '#/components/examples/IncorrectUsingMethods'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/normquery/stats:
    post:
      x-readonly-method: true
      servers:
        - url: https://advert-api.wildberries.ru
      x-category: advert
      tags:
        - Statistics
      summary: Search Clusters Statistics
      description: |
        The method returns statistics for search clusters over a specified period.<br>
        You can use this method only for campaigns with a `cpm` payment model — for displays.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 10 requests | 6 s | 20 requests |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V0GetNormQueryStatsRequest'
            example:
              from: '2025-10-07'
              to: '2025-10-08'
              items:
                - advert_id: 1825035
                  nm_id: 983512347
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V0GetNormQueryStatsResponse'
              example:
                stats:
                  - advert_id: 1825035
                    nm_id: 983512347
                    stats:
                      - atbs: 68
                        avg_pos: 3.6
                        clicks: 2090
                        cpc: 471
                        cpm: 813
                        ctr: 107.23
                        norm_query: Фраза 1
                        orders: 19
                        views: 1949
                      - atbs: 68
                        avg_pos: 3.6
                        clicks: 2090
                        cpc: 471
                        cpm: 813
                        ctr: 107.23
                        norm_query: Фраза 2
                        orders: 19
                        views: 1949
                      - atbs: 68
                        avg_pos: 3.6
                        clicks: 2090
                        cpc: 471
                        cpm: 813
                        ctr: 107.23
                        norm_query: Фраза 3
                        orders: 19
                        views: 1949
                      - atbs: 36
                        avg_pos: 3.9
                        clicks: 1847
                        cpc: 278
                        cpm: 445
                        ctr: 96.4
                        norm_query: Фраза 4
                        orders: 28
                        views: 1916
                      - atbs: 36
                        avg_pos: 3.9
                        clicks: 1847
                        cpc: 278
                        cpm: 445
                        ctr: 96.4
                        norm_query: Фраза 5
                        orders: 28
                        views: 1916
                      - atbs: 79
                        avg_pos: 2.2
                        clicks: 2468
                        cpc: 106
                        cpm: 819
                        ctr: 145.01
                        norm_query: Фраза 6
                        orders: 14
                        views: 1702
                      - atbs: 79
                        avg_pos: 2.2
                        clicks: 2468
                        cpc: 106
                        cpm: 819
                        ctr: 145.01
                        norm_query: Фраза 7
                        orders: 14
                        views: 1702
                      - atbs: 67
                        avg_pos: 9.9
                        clicks: 1166
                        cpc: 250
                        cpm: 837
                        ctr: 70.33
                        norm_query: Фраза 8
                        orders: 26
                        views: 1658
                      - atbs: 67
                        avg_pos: 9.9
                        clicks: 1166
                        cpc: 250
                        cpm: 837
                        ctr: 70.33
                        norm_query: Фраза 9
                        orders: 26
                        views: 1658
                      - atbs: 46
                        avg_pos: 2
                        clicks: 2927
                        cpc: 122
                        cpm: 468
                        ctr: 186.43
                        norm_query: Фраза 10
                        orders: 23
                        views: 1570
                      - atbs: 46
                        avg_pos: 2
                        clicks: 2927
                        cpc: 122
                        cpm: 468
                        ctr: 186.43
                        norm_query: Фраза 11
                        orders: 23
                        views: 1570
                      - atbs: 79
                        avg_pos: 7.1
                        clicks: 2447
                        cpc: 67
                        cpm: 426
                        ctr: 163.9
                        norm_query: Фраза 12
                        orders: 13
                        views: 1493
                      - atbs: 79
                        avg_pos: 7.1
                        clicks: 2447
                        cpc: 67
                        cpm: 426
                        ctr: 163.9
                        norm_query: Фраза 13
                        orders: 13
                        views: 1493
                      - atbs: 61
                        avg_pos: 6
                        clicks: 1391
                        cpc: 370
                        cpm: 980
                        ctr: 99.29
                        norm_query: Фраза 14
                        orders: 27
                        views: 1401
                      - atbs: 61
                        avg_pos: 6
                        clicks: 1391
                        cpc: 370
                        cpm: 980
                        ctr: 99.29
                        norm_query: Фраза 15
                        orders: 27
                        views: 1401
                      - atbs: 26
                        avg_pos: 6.9
                        clicks: 1029
                        cpc: 88
                        cpm: 459
                        ctr: 77.43
                        norm_query: Фраза 16
                        orders: 3
                        views: 1329
                      - atbs: 26
                        avg_pos: 6.9
                        clicks: 1029
                        cpc: 88
                        cpm: 459
                        ctr: 77.43
                        norm_query: Фраза 17
                        orders: 3
                        views: 1329
                      - atbs: 67
                        avg_pos: 3.8
                        clicks: 1371
                        cpc: 448
                        cpm: 534
                        ctr: 104.18
                        norm_query: Фраза 18
                        orders: 3
                        views: 1316
                      - atbs: 67
                        avg_pos: 3.8
                        clicks: 1371
                        cpc: 448
                        cpm: 534
                        ctr: 104.18
                        norm_query: Фраза 19
                        orders: 3
                        views: 1316
                      - atbs: 18
                        avg_pos: 10
                        clicks: 2944
                        cpc: 472
                        cpm: 839
                        ctr: 256
                        norm_query: Фраза 20
                        orders: 4
                        views: 1150
                      - atbs: 18
                        avg_pos: 10
                        clicks: 2944
                        cpc: 472
                        cpm: 839
                        ctr: 256
                        norm_query: Фраза 21
                        orders: 4
                        views: 1150
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/normquery/get-bids:
    post:
      x-readonly-method: true
      x-category: advert
      servers:
        - url: https://advert-api.wildberries.ru
      tags:
        - Search Clusters
      summary: List of Search Clusters Bids
      description: |
        The method returns a list of search clusters with bids by:
          - campaign IDs
          - WB articles

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 5 requests | 200 ms | 10 requests |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V0GetNormQueryBidsRequest'
            example:
              items:
                - advert_id: 1825035
                  nm_id: 983512347
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V0GetNormQueryBidsResponse'
              example:
                bids:
                  - advert_id: 1825035
                    bid: 700
                    nm_id: 983512347
                    norm_query: Фраза 1
                  - advert_id: 1825035
                    bid: 9000
                    nm_id: 983512347
                    norm_query: Фраза 2
                  - advert_id: 1825035
                    bid: 9999
                    nm_id: 983512347
                    norm_query: Фраза 3
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/normquery/bids:
    post:
      x-readonly-method: false
      x-category: advert
      servers:
        - url: https://advert-api.wildberries.ru
      tags:
        - Search Clusters
      summary: Set Bids for Search Clusters
      description: |
        The method sets the bids for search clusters.<br>
        You can use this method only for campaigns with:
          - custom bid
          - a `cpm` payment model — per displays


        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 2 requests | 500 ms | 4 requests |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V0SetNormQueryBidsRequest'
            example:
              bids:
                - advert_id: 1825035
                  nm_id: 983512347
                  norm_query: Фраза 1
                  bid: 1000
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
    delete:
      x-readonly-method: false
      x-category: advert
      servers:
        - url: https://advert-api.wildberries.ru
      tags:
        - Search Clusters
      summary: Delete Bids from Search Clusters
      description: |
        The method deletes the bids from search clusters.<br>
        You can use this method only for campaigns with:
          - custom bid
          - a `cpm` payment model — per displays


        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 5 requests | 200 ms | 10 requests |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V0SetNormQueryBidsRequest'
            example:
              bids:
                - advert_id: 1825035
                  nm_id: 983512347
                  norm_query: Фраза 1
                  bid: 1000
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/normquery/get-minus:
    post:
      x-readonly-method: true
      x-category: advert
      servers:
        - url: https://advert-api.wildberries.ru
      tags:
        - Search Clusters
      summary: List of Campaign Minus Phrases
      description: |
        The method returns a list of minus phrases by:
          - campaign IDs
          - WB articles

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 5 requests | 200 ms | 10 requests |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V0GetNormQueryMinusRequest'
            example:
              items:
                - advert_id: 1825035
                  nm_id: 983512347
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V0GetNormQueryMinusResponse'
              example:
                items:
                  - advert_id: 1825035
                    nm_id: 983512347
                    norm_queries:
                      - Фраза 1
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /adv/v0/normquery/set-minus:
    post:
      x-readonly-method: false
      x-category: advert
      servers:
        - url: https://advert-api.wildberries.ru
      tags:
        - Search Clusters
      summary: Setting and Deleting Minus Phrases
      description: |
        The method sets and deletes the minus phrases in campaigns with standard and custom bid.

        <div class="description_important">
          Sending an empty array deletes all minus phrases
        </div>


        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 5 requests | 200 ms | 10 requests |
        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V0SetMinusNormQueryRequest'
            example:
              advert_id: 1825035
              nm_id: 983512347
              norm_queries:
                - Фраза 1
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response400'
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /adv/v1/count:
    servers:
      - url: https://advert-media-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Media Campaigns Number
      description: |
        Method allows you to get the number of the seller's media campaigns.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 10 requests | 100 ms | 10 requests |
        </div>
      tags:
        - Media
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  all:
                    description: Total number of media campaigns with all statuses and types
                    type: integer
                  adverts:
                    type: object
                    properties:
                      type:
                        description: |
                          Media campaign type:
                          - `1` — daily basis
                          - `2` — views basis
                        type: integer
                      status:
                        description: |
                          Media campaign status:
                            - `1` — template
                            - `2` — moderation
                            - `3` — rejected (with the possibility to resubmit for moderation)
                            - `4` — ready for launch
                            - `5` — scheduled
                            - `6` — running
                            - `7` — completed
                            - `8` — declined
                            - `9` — paused by seller
                            - `10` — paused due to daily limit
                            - `11` — paused
                        type: integer
                      count:
                        description: Number of media campaigns
                        type: integer
              example:
                all: 6
                adverts:
                  type: 2
                  status: 7
                  count: 2
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v1/adverts:
    servers:
      - url: https://advert-media-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: List of Media Campaigns
      description: |
        The method allows to get the list of media campaigns of the seller

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 10 requests | 100 ms | 10 requests |
        </div>
      tags:
        - Media
      parameters:
        - name: status
          in: query
          description: |
            Media campaign status:
              - `1` — template
              - `2` — moderation
              - `3` — rejected (with the possibility to resubmit for moderation)
              - `4` — ready for launch
              - `5` — scheduled
              - `6` — running
              - `7` — completed
              - `8` — declined
              - `9` — paused by seller
              - `10` — paused due to daily limit
              - `11` — paused
          schema:
            type: integer
            example: 1
        - name: type
          in: query
          description: |
            Media campaign type:
            - `1` — daily basis
            - `2` — views basis
          schema:
            type: integer
            example: 1
        - name: limit
          in: query
          description: Number of campaigns in the response
          schema:
            type: integer
            example: 1
        - name: offset
          in: query
          description: Offset relative to the first media campaign
          schema:
            type: integer
            example: 1
        - name: order
          in: query
          description: |
            The order in which the response is displayed:
            - `create` — by time of media campaign creation
            - `id` — by ID of media campaign creation
          schema:
            type: string
            example: id
        - name: direction
          in: query
          description: |
            Sorting order:
            - `desc` — upward
            - `asc` — smaller to larger
          schema:
            type: string
            example: desc
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    advertId:
                      description: Media campaign ID
                      type: integer
                    name:
                      description: Media campaign name
                      type: string
                    brand:
                      description: Brand name
                      type: string
                    type:
                      description: |
                        Media campaign type:
                        - `1` — daily basis
                        - `2` — views basis
                      type: integer
                    status:
                      description: |
                        Media campaign status:
                          - `1` — template
                          - `2` — moderation
                          - `3` — rejected (with the possibility to resubmit for moderation)
                          - `4` — ready for launch
                          - `5` — scheduled
                          - `6` — running
                          - `7` — completed
                          - `8` — declined
                          - `9` — paused by seller
                          - `10` — paused due to daily limit
                          - `11` — paused
                      type: integer
                    createTime:
                      description: Time of media campaign creation
                      type: string
                      format: date-time
                    endTime:
                      description: 'Time of completion of the media campaign '
                      type: string
                      format: date-time
              example:
                - advertId: 123456
                  name: тост
                  brand: brand
                  type: 2
                  status: 8
                  createTime: '2023-03-25T20:35:57.116943+03:00'
                - advertId: 54321
                  name: тест
                  brand: brandname
                  type: 1
                  status: 7
                  createTime: '2023-07-24T16:48:20.935599+03:00'
                  endTime: '2023-07-25T20:35:50.104978Z'
        '204':
          description: Media campaigns not found
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /adv/v1/advert:
    servers:
      - url: https://advert-media-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: advert
      security:
        - HeaderApiKey: []
      summary: Information About Media Campaign
      description: |
        The method allows to get information about a media campaign

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 10 requests | 100 ms | 10 requests |
        </div>
      tags:
        - Media
      parameters:
        - name: id
          in: query
          description: Media campaign ID
          schema:
            type: integer
            example: 23569
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  advertId:
                    description: Media campaign ID
                    type: integer
                  name:
                    description: Media campaign name
                    type: string
                  brand:
                    description: Brand name
                    type: string
                  type:
                    description: |
                      Media campaign type:
                      - `1` — daily basis
                      - `2` — views basis
                    type: integer
                  status:
                    description: |
                      Media campaign status:
                        - `1` — template
                        - `2` — moderation
                        - `3` — rejected (with the possibility to resubmit for moderation)
                        - `4` — ready for launch
                        - `5` — scheduled
                        - `6` — running
                        - `7` — completed
                        - `8` — declined
                        - `9` — paused by seller
                        - `10` — paused due to daily limit
                        - `11` — paused
                    type: integer
                  createTime:
                    description: Time of media campaign creation
                    type: string
                    format: date-time
                  extended:
                    type: object
                    properties:
                      reason:
                        description: Moderator's remark
                        nullable: true
                        type: string
                      expenses:
                        description: Expenses
                        type: integer
                      from:
                        description: Media campaign display start date and time
                        type: string
                        format: date-time
                      to:
                        description: Media campaign display end date and time
                        type: string
                        format: date-time
                      updated_at:
                        description: Campaign update date and time
                        type: string
                        format: date-time
                      price:
                        description: Cost of placement by day for type `1`
                        type: integer
                      budget:
                        description: Budget balance for type `2`
                        type: integer
                      operation:
                        description: |
                          Source of charge-off:
                            - `1` — balance sheet
                            - `2` — account
                        type: integer
                      contract_id:
                        description: Contract ID, for contracted sellers
                        type: integer
                  items:
                    description: |
                      Banner information.
                      <br>
                      The response may not contain all fields, it depends on your media campaign configuration.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Banner ID
                          type: integer
                        name:
                          description: Brand
                          type: string
                        status:
                          description: Status (same as media campaign status)
                          type: integer
                        place:
                          description: Placement on the page
                          type: integer
                        budget:
                          description: Budget
                          type: integer
                        daily_limit:
                          description: Daily limit (for display banners)
                          type: integer
                        category_name:
                          description: Category name
                          type: string
                        cpm:
                          description: Bid
                          type: integer
                        url:
                          description: The URL of the page the user lands on when they click on the banner
                          type: string
                        advert_type:
                          description: |
                            Campaign type:
                            - `1` — banner
                            - `2` — pop-up menu
                            - `3` — mailings
                            - `4` — social networks
                            - `5` — push notification in WB app
                          type: integer
                        created_at:
                          description: Banner creation date
                          format: date-time
                          type: string
                        updated_at:
                          description: Banner update date and time
                          format: date-time
                          type: string
                        date_from:
                          description: Banner start date
                          format: date-time
                          type: string
                        date_to:
                          description: Banner stop date
                          format: date-time
                          type: string
                        nms:
                          description: WB articles
                          type: array
                          items:
                            type: integer
                        bottomText1:
                          description: Text under the banner
                          type: string
                        bottomText2:
                          description: Text under the banner, second string
                          type: string
                        message:
                          description: Notification or mailing text
                          type: string
                        additionalSettings:
                          description: |
                            Additional information.

                            Mailing format:
                            - `1` — common
                            - `2` — segment
                            - `3` — unique


                            Social network:
                            - `1` — [VK](vk.ru)
                            - `2` — [OK](ok.ru)
                          type: integer
                        receiversCount:
                          description: Number of push notification recipients
                          type: integer
                        subject_id:
                          description: Parent category ID for the good
                          type: integer
                        subject_name:
                          description: Parent category name for the good
                          type: string
                        action_name:
                          description: Promo name
                          type: string
                        show_hours:
                          description: Display time
                          type: array
                          items:
                            type: object
                            properties:
                              From:
                                description: Start time
                                type: integer
                              To:
                                description: End time
                                type: integer
                        Erid:
                          description: Unique campaign ID for the ad data operator
                          type: string
                example:
                  advertId: 23569
                  name: Реклама денег принеси
                  brand: Plank
                  type: 2
                  status: 11
                  createTime: '2023-07-19T11:13:41.195138+03:00'
                  extended:
                    reason: Для возобновления показов пополните бюджет медиакампании
                    expenses: 10000
                    from: '2023-07-19T12:05:35.847348Z'
                    to: '2123-07-20T08:14:13.079176+03:00'
                    updated_at: '2023-07-21T13:25:31.129766+03:00'
                    price: 0
                    budget: 0
                    operation: 1
                    contract_id: 0
                  items:
                    - id: 68080
                      name: Унисон
                      status: 7
                      place: 2
                      budget: 650000
                      daily_limit: 500
                      category_name: Главная
                      cpm: 351
                      url: https://www.wildberries.ru/promotions/ssylka-na-akciyou
                      advert_type: 1
                      created_at: '2023-11-01T15:40:46.86165+03:00'
                      updated_at: '2023-11-08T23:44:33.248229+03:00'
                      date_from: '2023-11-01T16:05:22.286002Z'
                      date_to: '2023-11-09T17:27:32.745869+03:00'
                      nms:
                        - 123456
                        - 11111111
                      bottomText1: string
                      bottomText2: string
                      message: string
                      additionalSettings: 1
                      receiversCount: 1
                      subject_id: 6945
[...]
