openapi: 3.0.1
info:
  title: Customer Communication
  version: communication
  description: |
    Management of customer inquiries and feedback, chats, and returns processing
  x-file-name: communications
security:
  - HeaderApiKey: []
tags:
  - name: Questions
    description: ''
  - name: Feedbacks
    description: ''
  - name: Pinned Feedback
    description: ''
  - name: Buyers Chat
    description: ''
  - name: Buyers Returns
    description: ''
paths:
  /api/v1/new-feedbacks-questions:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Unseen Feedbacks and Questions
      description: |
        The method displays information about the seller's unseen feedbacks and questions

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Feedbacks and Questions</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 3 requests | 333 ms | 6 requests |

        </div>
      tags:
        - Questions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      hasNewQuestions:
                        type: boolean
                        description: |
                          Is there any unviewed questions:
                            - `true` — yes
                            - `false` — no
                        example: true
                      hasNewFeedbacks:
                        type: boolean
                        description: |
                          Is there any unviewed feedbacks:
                            - `true` — yes
                            - `false` — no
                        example: false
                  error:
                    type: boolean
                    description: Error presence
                    example: false
                  errorText:
                    type: string
                    description: Error description
                    example: ''
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: array
                    items:
                      type: string
                    example: null
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/questions/count-unanswered:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Unanswered Questions
      description: |
        The method allows you to get the number of unanswered questions for today and for all time

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Feedbacks and Questions</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 3 requests | 333 ms | 6 requests |

        </div>
      tags:
        - Questions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      countUnanswered:
                        type: integer
                        description: Number of unanswered questions
                        example: 24
                      countUnansweredToday:
                        type: integer
                        description: Number of unanswered questions for today
                        example: 0
                  error:
                    type: boolean
                    description: Error presence
                    example: false
                  errorText:
                    type: string
                    description: Error description
                    example: ''
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: array
                    items:
                      type: string
                    example: null
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/questions/count:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Number of Questions
      description: |
        The method allows to get the number of questions for requested period

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Feedbacks and Questions</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 3 requests | 333 ms | 6 requests |

        </div>
      tags:
        - Questions
      parameters:
        - name: dateFrom
          in: query
          description: The start date of the period in Unix timestamp format
          schema:
            type: integer
            example: 1688465092
        - name: dateTo
          in: query
          description: The end date of the period in Unix timestamp format
          schema:
            type: integer
            example: 1688465092
        - name: isAnswered
          in: query
          description: |
            If the question was answered:
              - `true` — yes
              - `false` — no
          schema:
            type: boolean
            default: true
            example: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: integer
                    description: Number of questions
                    example: 77
                  error:
                    type: boolean
                    description: Error presence
                    example: false
                  errorText:
                    type: string
                    description: Error description
                    example: ''
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: array
                    items:
                      type: string
                    example: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                IsAnsweredErr400:
                  $ref: '#/components/examples/IsAnsweredErr400'
                DateFromErr400:
                  $ref: '#/components/examples/DateFromErr400'
                DateToErr400:
                  $ref: '#/components/examples/DateToErr400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/questions:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Question List
      description: |
        The method allows you to get a list of questions by the specified parameters with pagination and sorting.<br> It is possible to get a maximum of 10,000 questions per query

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Feedbacks and Questions</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 3 requests | 333 ms | 6 requests |

        </div>
      tags:
        - Questions
      parameters:
        - name: isAnswered
          in: query
          description: |
            The question is answered:
              - `true` — yes
              - `false` — no
          schema:
            type: boolean
          required: true
        - name: nmId
          in: query
          description: WB article
          schema:
            type: integer
        - name: take
          in: query
          description: |
            Number of requested questions (the maximum possible value for the parameter is 10,000, and the total amount of `take` and `skip` parameters must not exceed 10,000)
          schema:
            type: integer
          required: true
        - name: skip
          in: query
          description: |
            Number of questions to skip (maximum possible value for the parameter is 10,000, and the total amount of `take` and `skip` parameters must not exceed 10,000)
          schema:
            type: integer
          required: true
        - name: order
          in: query
          description: Sorting questions by date (`dateAsc`/`dateDesc`)
          schema:
            type: string
        - name: dateFrom
          allowEmptyValue: true
          in: query
          description: The start date of the period in Unix timestamp format
          schema:
            type: integer
            example: 1688465092
        - name: dateTo
          in: query
          description: The end date of the period in Unix timestamp format
          schema:
            type: integer
            example: 1688465092
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      countUnanswered:
                        type: integer
                        description: Number of unanswered questions
                      countArchive:
                        type: integer
                        description: Number of questions answered
                      questions:
                        description: Questions
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: question id
                            text:
                              type: string
                              description: question text
                            createdDate:
                              type: string
                              format: date-time
                              description: Date and time the question was created
                            state:
                              type: string
                              description: |
                                Question status:
                                  - `none` — question rejected by seller (this question doesn't appear on the buyer portal)
                                  - `wbRu` — answer provided, the question is displayed on the buyers site
                                  - `suppliersPortalSynch` - new question
                            answer:
                              description: Answer structure
                              nullable: true
                              type: object
                              properties:
                                text:
                                  type: string
                                  description: Answer text
                                editable:
                                  type: boolean
                                  description: Ability to edit answer (`false` - unable, `true` - able to)
                                createDate:
                                  type: string
                                  format: date-time
                                  description: Date and time the answer was created
                            productDetails:
                              type: object
                              description: Product information
                              properties:
                                nmId:
                                  type: integer
                                  description: WB article
                                imtId:
                                  type: integer
                                  description: Merged product cards ID
                                productName:
                                  type: string
                                  description: Product name
                                supplierArticle:
                                  type: string
                                  description: Seller's article
                                supplierName:
                                  type: string
                                  description: Seller's name
                                brandName:
                                  type: string
                                  description: Brand name
                            wasViewed:
                              type: boolean
                              description: If the question was viewed
                            isWarned:
                              type: boolean
                              description: |
                                Suspicious question indicator.<br>
                                If `true`, the question is published, but on the seller portal, you will see a banner saying **Suspicious message**
                  error:
                    type: boolean
                    description: Error presence
                    example: false
                  errorText:
                    type: string
                    description: Error description
                    example: ''
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: array
                    items:
                      type: string
              example:
                data:
                  countUnanswered: 24
                  countArchive: 508
                  questions:
                    - id: 2ncBtX4B9I0UHoornoqG
                      text: Question text
                      createdDate: '2022-02-01T11:18:08.769513469Z'
                      state: suppliersPortalSynch
                      answer: null
                      productDetails:
                        imtId: 11157265
                        nmId: 14917842
                        productName: Coffee
                        supplierArticle: '123401'
                        supplierName: ' ГП Реклама и услуги'
                        brandName: Nescafe
                      wasViewed: false
                      isWarned: false
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr400:
                  $ref: '#/components/examples/FeedbackErr400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
    patch:
      x-readonly-method: false
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Working with Questions
      description: |
        Depending on the request body, you can:
        - View question.
        - Reject question.
        - Answer question or edit the answer.

        It is possible to edit a response to a question within 2 months (60 days), after the response has been submitted and only once.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Feedbacks and Questions</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 3 requests | 333 ms | 6 requests |

        </div>
      tags:
        - Questions
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  required:
                    - id
                    - wasViewed
                  properties:
                    id:
                      description: Question ID
                      type: string
                      example: n5um6IUBQOOSTxXoo0gV
                    wasViewed:
                      description: If the question was viewed
                      type: boolean
                      example: true
                - type: object
                  required:
                    - id
                    - answer
                    - state
                  properties:
                    id:
                      type: string
                      description: Question ID
                      example: n5um6IUBQOOSTxXoo0gV
                    answer:
                      type: object
                      required:
                        - text
                      properties:
                        text:
                          type: string
                          description: Answer text
                          example: answer text
                    state:
                      type: string
                      description: |
                        - `none` - question rejected by seller (this question doesn't appear on the buyer portal).
                        - `wbRu` - answer provided, the question is displayed on the buyers site.
            examples:
              ViewQuestion:
                description: View question
                value:
                  id: n5um6IUBQOOSTxXoo0gV
                  wasViewed: true
              RejectQuestion:
                description: Reject question
                value:
                  id: n5um6IUBQOOSTxXoo0gV
                  answer:
                    text: текст ответа
                  state: none
              AnswerQuestionOrEditAnswer:
                description: Answer question or edit the answer
                value:
                  id: n5um6IUBQOOSTxXoo0gV
                  answer:
                    text: текст ответа
                  state: wbRu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
                  error:
                    type: boolean
                    description: Error flag
                  errorText:
                    type: string
                    description: Error description
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: array
                    items:
                      type: string
              example:
                data: null
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr400:
                  $ref: '#/components/examples/FeedbackErr400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr404:
                  $ref: '#/components/examples/FeedbackErr404'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/question:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Get the Question by ID
      description: |
        The method allows you to get a question by its ID

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Feedbacks and Questions</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 3 requests | 333 ms | 6 requests |

        </div>
      tags:
        - Questions
      parameters:
        - name: id
          in: query
          required: true
          description: Question ID
          schema:
            type: string
            example: ljAVapEBL38RyMdRln61
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Question ID
                      text:
                        type: string
                        description: Question text
                      createdDate:
                        type: string
                        format: date-time
                        description: Date and time the question was created
                      state:
                        type: string
                        description: |
                          Question status:
                            - `none` - on the buyer portal
                            - `wbRu` - answer provided, the question is displayed on the buyers site
                            - `suppliersPortalSynch`- new question
                      answer:
                        description: Answer
                        type: object
                        nullable: true
                        properties:
                          text:
                            type: string
                            description: Answer text
                          editable:
                            type: boolean
                            description: Ability to edit answer (`false` - unable, `true` - able to)
                          createDate:
                            type: string
                            format: date-time
                            description: Date and time the answer was created
                      productDetails:
                        type: object
                        description: Product information
                        properties:
                          nmId:
                            type: integer
                            description: WB article
                          imtId:
                            type: integer
                            description: Merged product cards ID
                          productName:
                            type: string
                            description: Product name
                          supplierArticle:
                            type: string
                            description: Seller's article
                          supplierName:
                            type: string
                            description: Seller's name
                          brandName:
                            type: string
                            description: Brand name
                      wasViewed:
                        type: boolean
                        description: If the question was viewed
                      isWarned:
                        type: boolean
                        description: |
                          Suspicious question indicator.<br>
                          If `true`, the question is published, but on the seller portal, you will see a banner saying **Suspicious message**
                  error:
                    type: boolean
                    description: Error presence
                    example: false
                  errorText:
                    type: string
                    description: Error description
                    example: ''
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: array
                    items:
                      type: string
                    example: null
              example:
                data:
                  id: TfWOp5QBfEYrrd0AMJau
                  text: Хороший карандаш? Когда еще поставите?
                  createdDate: '2025-01-27T11:38:21.202143857Z'
                  state: wbRu
                  answer:
                    text: На следующей неделе
                    editable: true
                    createDate: '2025-07-28T08:24:37.187113704Z'
                  productDetails:
                    imtId: 202306781
                    nmId: 224747484
                    productName: Карандаш с ластиком
                    supplierArticle: 12113156uw
                    supplierName: ''
                    brandName: Brand
                  wasViewed: true
                  isWarned: false
                error: false
                errorText: ''
                additionalErrors: null
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '422':
          description: Error processing request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                responseGetQuestionByIdErrEx:
                  $ref: '#/components/examples/ResponseGetQuestionByIdErrEx'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks/count-unanswered:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Unanswered Feedbacks
      description: |
        The method allows you to get the number of unanswered feedbacks for today, for all time.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Feedbacks and Questions</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 3 requests | 333 ms | 6 requests |

        </div>
      tags:
        - Feedbacks
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      countUnanswered:
                        type: integer
                        description: Number of unanswered feedbacks
                        example: 1
                      countUnansweredToday:
                        type: integer
                        description: Number of unanswered feedbacks for today
                        example: 0
                  error:
                    type: boolean
                    description: Error presence
                    example: false
                  errorText:
                    type: string
                    description: Error description
                    example: ''
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: array
                    items:
                      type: string
                    example: null
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks/count:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Number of Feedbacks
      description: |
        The method allows to get the number of feedbacks

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Feedbacks and Questions</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 3 requests | 333 ms | 6 requests |

        </div>
      tags:
        - Feedbacks
      parameters:
        - name: dateFrom
          in: query
          description: The start date of the period in Unix timestamp format
          schema:
            type: integer
            example: 1688465092
        - name: dateTo
          in: query
          description: The end date of the period in Unix timestamp format
          schema:
            type: integer
            example: 1688465092
        - name: isAnswered
          in: query
          description: |
            If the feedback was answered:
              - `true` — yes
              - `false` — no
          schema:
            type: boolean
            default: true
            example: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: integer
                    description: Number of feedbacks
                    example: 724583
                  error:
                    type: boolean
                    description: Error presence
                    example: false
                  errorText:
                    type: string
                    description: Error description
                    example: ''
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: array
                    items:
                      type: string
                    example: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                IsAnsweredErr400:
                  $ref: '#/components/examples/IsAnsweredErr400'
                DateFromErr400:
                  $ref: '#/components/examples/DateFromErr400'
                DateToErr400:
                  $ref: '#/components/examples/DateToErr400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Feedbacks List
      description: |
        The method allows you to get a list of feedbacks by the specified parameters with pagination and sorting

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Feedbacks and Questions</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 3 requests | 333 ms | 6 requests |

        </div>
      tags:
        - Feedbacks
      parameters:
        - name: isAnswered
          in: query
          required: true
          description: |
            If the feedback was answered:
              - `true` — yes
              - `false` — no
          schema:
            type: boolean
            example: false
        - name: nmId
          in: query
          description: WB article
          schema:
            type: integer
            example: 5870243
        - name: take
          in: query
          required: true
          description: Number of feedbacks (max. 5 000)
          schema:
            type: integer
            example: 1
        - name: skip
          in: query
          required: true
          description: Number of feedbacks for skip (max. 199990)
          schema:
            type: integer
            example: 0
        - name: order
          in: query
          description: Sorting of feedbacks by date (dateAsc/dateDesc)
          schema:
            type: string
            enum:
              - dateAsc
              - dateDesc
        - name: dateFrom
          in: query
          description: The start date of the period in Unix timestamp format
          schema:
            type: integer
            example: 1688465092
        - name: dateTo
          in: query
          description: The end date of the period in Unix timestamp format
          schema:
            type: integer
            example: 1688465092
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      countUnanswered:
                        type: integer
                        description: Number of unanswered feedbacks
                      countArchive:
                        type: integer
                        description: Number of archived feedbacks
                      feedbacks:
                        $ref: '#/components/schemas/responseFeedback'
                  error:
                    type: boolean
                    description: Error presence
                  errorText:
                    type: string
                    description: Error description
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: array
                    items:
                      type: string
              example:
                data:
                  countUnanswered: 52
                  countArchive: 1000
                  feedbacks:
                    - id: YX52RZEBhH9mrcYdEJuD
                      text: Спасибо, всё подошло
                      pros: Удобный
                      cons: Нет
                      productValuation: 5
                      createdDate: '2024-09-26T10:20:48+03:00'
                      answer:
                        text: Пожалуйста. Ждём вас снова!
                        state: wbRu
                        editable: false
                      state: wbRu
                      productDetails:
                        imtId: 123456789
                        nmId: 987654321
                        productName: ВАЗ
                        supplierArticle: DP02/черный
                        supplierName: ГП Реклама и услуги
                        brandName: Бест Трикотаж
                        size: '0'
                      video:
                        previewImage: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/preview.webp
                        link: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/index.m3u8
                        durationSec: 10
                      wasViewed: true
                      photoLinks:
                        - fullSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/fs.webp
                          miniSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/ms.webp
                        - fullSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/fs.webp
                          miniSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/ms.webp
                        - fullSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/fs.webp
                          miniSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/ms.webp
                      userName: Николай
                      orderStatus: buyout
                      matchingSize: ok
                      isAbleSupplierFeedbackValuation: false
                      supplierFeedbackValuation: 1
                      isAbleSupplierProductValuation: false
                      supplierProductValuation: 2
                      isAbleReturnProductOrders: false
                      returnProductOrdersDate: '2024-08-20T16:39:49Z'
                      bables:
                        - цена
                      lastOrderShkId: 123456789
                      lastOrderCreatedAt: '2024-08-12T10:20:48+03:00'
                      color: colorless
                      subjectId: 219
                      subjectName: Футболки-поло
                      parentFeedbackId: null
                      childFeedbackId: bIjTCZDvJni7NGnLbUlf
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr400:
                  $ref: '#/components/examples/FeedbackErr400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks/answer:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: questionsandfeedback
      tags:
        - Feedbacks
      security:
        - HeaderApiKey: []
      summary: Reply to Feedback
      description: |
        Allows you to respond to the feedback.
         <br>
         There is no validation by `feedback ID`: if an incorrect value is provided in the request, you will not receive an error.

         <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Feedbacks and Questions</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 3 requests | 333 ms | 6 requests |

        </div>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - text
              properties:
                id:
                  type: string
                  description: Feedback ID
                  example: J2FMRjUj6hwvwCElqssz
                text:
                  type: string
                  description: Reply text
                  example: Спасибо за Ваш отзыв!
                  minimum: 2
                  maximum: 5000
      responses:
        '204':
          description: Success
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardizedFQError'
              examples:
                contentTypeHeaderNotSpecified:
                  $ref: '#/components/examples/contentTypeHeaderNotSpecified'
                incorrectContentTypeHeader:
                  $ref: '#/components/examples/incorrectContentTypeHeader'
                incorrectContentType:
                  $ref: '#/components/examples/incorrectContentType'
                invalidJsonSyntax:
                  $ref: '#/components/examples/invalidJsonSyntax'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
    patch:
      x-readonly-method: false
      x-category: questionsandfeedback
      tags:
        - Feedbacks
      security:
        - HeaderApiKey: []
      summary: Edit Response to Feedback
      description: |
        Allows you to edit an already sent response to the feedback.
        <br>
        You can edit the response only once within 60 days.
        <br>
        There is no validation by `feedback ID`: if an incorrect value is provided in the request, you will not receive an error.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Feedbacks and Questions</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 3 requests | 333 ms | 6 requests |

        </div>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - text
              properties:
                id:
                  type: string
                  description: Feedback ID
                  example: J2FMRjUj6hwvwCElqssz
                text:
                  type: string
                  description: Reply text
                  example: Спасибо за Ваш отзыв, он очень важен для нас!
                  minimum: 2
                  maximum: 5000
      responses:
        '204':
          description: Success
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks/order/return:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Return Product by Feedback ID
      description: |
        The method allows requesting a return for a product for which a feedback has been left.
        <br>Return is available for feedbacks with `"isAbleReturnProductOrders": true`

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Feedbacks and Questions</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 3 requests | 333 ms | 6 requests |

        </div>
      tags:
        - Feedbacks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                feedbackId:
                  type: string
                  description: Feedback ID
            example:
              feedbackId: absdfgerrrfff1234
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
                  error:
                    type: boolean
                    description: Error presence
                  errorText:
                    type: string
                    description: Error description
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: array
                    items:
                      type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr400:
                  $ref: '#/components/examples/ResponseDoNotGetFeedback400'
                RequestBodyErr400:
                  $ref: '#/components/examples/RequestBodyErr400'
                RequestIDErr400:
                  $ref: '#/components/examples/RequestIDErr400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '422':
          description: Error processing request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                responseInaccessibleBackGoodError422:
                  $ref: '#/components/examples/responseInaccessibleBackGoodError422'
                responseUnsuccessfullyBackGoodError422:
                  $ref: '#/components/examples/responseUnsuccessfullyBackGoodError422'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedback:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Get the Feedback by ID
      description: |
        The method allows you to get a feedback by its ID

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Feedbacks and Questions</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 3 requests | 333 ms | 6 requests |

        </div>
      tags:
        - Feedbacks
      parameters:
        - name: id
          in: query
          required: true
          description: Feedback ID
          schema:
            type: string
            example: G7Y9Y1kBAtKOitoBT_lV
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Feedback ID
                      text:
                        type: string
                        description: Feedback text
                      pros:
                        type: string
                        description: Product pros
                        nullable: false
                      cons:
                        type: string
                        description: Product cons
                        nullable: false
                      matchingSize:
                        type: string
                        description: |
                          Compliance of the declared size with the real one.
                          <br>Possible values:
                          - ` ` - for dimensionless goods
                          - `ок` - matches to the size
                          - `smaller` - size is smaller
                          - `bigger` - size is bigger
                      productValuation:
                        type: integer
                        description: Product rate
                      createdDate:
                        type: string
                        format: date-time
                        description: Date and time the feedback was created
                      answer:
                        nullable: true
                        type: object
                        description: Reply structure
                        properties:
                          text:
                            type: string
                            description: Reply text
                          state:
                            type: string
                            description: |
                              Status:
                                - `none` — new
                                - `wbRu` — displayed on the site
                                - `reviewRequired` — response being reviewed
                                - `rejected` — response rejected
                          editable:
                            type: boolean
                            description: |
                              Whether the answer can be edited:
                                - `false` — no
                                - `true` - yes
                      state:
                        type: string
                        description: |
                          Feedback state:
                            - `none` - not processed (new)
                            - `wbRu` - processed
                      productDetails:
                        description: Product information
                        type: object
                        properties:
                          nmId:
                            type: integer
                            description: WB article
                          imtId:
                            type: integer
                            description: Merged product cards ID
                          productName:
                            type: string
                            description: Product name
                          supplierArticle:
                            type: string
                            nullable: true
                            description: Seller's article
                          supplierName:
                            type: string
                            nullable: true
                            description: Seller's name
                          brandName:
                            type: string
                            nullable: true
                            description: Brand name
                          size:
                            type: string
                            description: Product size (`techSize' in the product card)
                      photoLinks:
                        nullable: true
                        description: Array of structure of images
                        type: array
                        items:
                          type: object
                          properties:
                            fullSize:
                              type: string
                              description: Link of full-size images
                            miniSize:
                              type: string
                              description: Link of small-size images
                      userName:
                        type: string
                        description: Name of the feedback author
                        nullable: false
                      orderStatus:
                        type: string
                        description: |
                          Order status.
                          <br>Possible values:
                          - `buyout` — bought out
                          - `rejected` — rejected
                          - `returned` — returned
                          - `notSpecified` — status not assigned
                      video:
                        nullable: true
                        description: Video structure
                        type: object
                        properties:
                          previewImage:
                            type: string
                            description: Video preview image link
                          link:
                            type: string
                            description: Link to the playlist video file (available through hls protocol)
                          durationSec:
                            type: integer
                            description: Video duration
                      wasViewed:
                        type: boolean
                        description: If the feedback was viewed
                      isAbleSupplierFeedbackValuation:
                        description: |
                          Is the feedback rating available to the seller
                            - `true`— yes
                            - `false` — no
                        type: boolean
                      supplierFeedbackValuation:
                        description: Feedback rating left by the seller
                        type: integer
                      isAbleSupplierProductValuation:
                        description: Is the product rating available to the seller (`true` - available, `false` - not available)
                        type: boolean
                      supplierProductValuation:
                        description: Product rating left by the seller
                        type: integer
                      isAbleReturnProductOrders:
                        description: |
                          Product return option:
                            - `true` — available
                            - `false` — unavailable
                        type: boolean
                      returnProductOrdersDate:
                        nullable: true
                        description: Date and time when a response with status code 200 was received for the return request.
                        type: string
                      bables:
                        nullable: true
                        description: List of customer tags
                        type: array
                        items:
                          type: string
                      lastOrderShkId:
                        type: integer
                        description: Barcode of the product
                      lastOrderCreatedAt:
                        type: string
                        description: Date of purchase
                      color:
                        type: string
                        description: Product color
                      subjectId:
                        type: integer
                        description: Subject ID
                      subjectName:
                        type: string
                        description: Subject name
                      parentFeedbackId:
                        type: string
                        description: ID of the original feedback (`null` if this feedback is original)
                        nullable: true
                      childFeedbackId:
                        type: string
                        nullable: true
                        description: ID of the updated feedback (`null` if this feedback is updated)
                  error:
                    type: boolean
                    description: Error presence
                  errorText:
                    type: string
                    description: Error description
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: array
                    items:
                      type: string
              example:
                data:
                  id: YX52RZEBhH9mrcYdEJuD
                  text: Спасибо, всё подошло
                  pros: Удобный
                  cons: Нет
                  productValuation: 5
                  createdDate: '2024-09-26T10:20:48+03:00'
                  answer:
                    text: Пожалуйста. Ждём вас снова!
                    state: wbRu
                    editable: false
                  state: wbRu
                  productDetails:
                    imtId: 123456789
                    nmId: 987654321
                    productName: ВАЗ
                    supplierArticle: DP02/черный
                    supplierName: ГП Реклама и услуги
                    brandName: Бест Трикотаж
                    size: '0'
                  video:
                    previewImage: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/preview.webp
                    link: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/index.m3u8
                    durationSec: 10
                  wasViewed: true
                  photoLinks:
                    - fullSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/fs.webp
                      miniSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/ms.webp
                    - fullSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/fs.webp
                      miniSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/ms.webp
                    - fullSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/fs.webp
                      miniSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/ms.webp
                  userName: Николай
                  orderStatus: returned
                  matchingSize: ok
                  isAbleSupplierFeedbackValuation: false
                  supplierFeedbackValuation: 1
                  isAbleSupplierProductValuation: false
                  supplierProductValuation: 2
                  isAbleReturnProductOrders: false
                  returnProductOrdersDate: '2024-08-20T16:39:49Z'
                  bables:
                    - цена
                  lastOrderShkId: 123456789
                  lastOrderCreatedAt: '2024-08-12T10:20:48+03:00'
                  color: colorless
                  subjectId: 219
                  subjectName: Футболки-поло
                  parentFeedbackId: null
                  childFeedbackId: bIjTCZDvJni7NGnLbUlf
                error: false
                errorText: ''
                additionalErrors: null
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '422':
          description: Error processing request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                ResponseGetFeedbackByIdErrEx:
                  $ref: '#/components/examples/ResponseGetFeedbackByIdErrEx'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/feedbacks/archive:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: List of Archived Feedbacks
      description: |
        The method allows you to get a list of archived feedbacks. <br>
        The feedback becomes archived if:
          - A response to the feedback is received.
          - No response to the feedback is received within 30 days.
          - The feedback contains no text or photos.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Feedbacks and Questions</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 3 requests | 333 ms | 6 requests |

        </div>
      tags:
        - Feedbacks
      parameters:
        - name: nmId
          in: query
          description: WB article
          schema:
            type: integer
            example: 14917842
        - name: take
          in: query
          required: true
          description: Number of feedbacks (max. 5 000)
          schema:
            type: integer
            example: 1
        - name: skip
          in: query
          required: true
          description: Number of feedbacks for skip
          schema:
            type: integer
            example: 0
        - name: order
          in: query
          description: Sorting of feedbacks by date (dateAsc/dateDesc)
          schema:
            type: string
            enum:
              - dateAsc
              - dateDesc
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      feedbacks:
                        $ref: '#/components/schemas/responseFeedback'
                  error:
                    type: boolean
                    description: Error presence
                  errorText:
                    type: string
                    description: Error description
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: array
                    items:
                      type: string
              example:
                data:
                  feedbacks:
                    - id: YX52RZEBhH9mrcYdEJuD
                      text: Спасибо, всё подошло
                      pros: Удобный
                      cons: Нет
                      productValuation: 5
                      createdDate: '2024-09-26T10:20:48+03:00'
                      answer:
                        text: Пожалуйста. Ждём вас снова!
                        state: wbRu
                        editable: false
                      state: wbRu
                      productDetails:
                        imtId: 123456789
                        nmId: 987654321
                        productName: ВАЗ
                        supplierArticle: DP02/черный
                        supplierName: ГП Реклама и услуги
                        brandName: Бест Трикотаж
                        size: '0'
                      video:
                        previewImage: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/preview.webp
                        link: https://videofeedback01.wbbasket.ru/8defc853-7f62-4d6d-b236-8a16cfb63128/index.m3u8
                        durationSec: 10
                      wasViewed: true
                      photoLinks:
                        - fullSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/fs.webp
                          miniSize: https://feedback04.wbbasket.ru/vol1333/part133337/123456789/photos/ms.webp
                        - fullSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/fs.webp
                          miniSize: https://feedback04.wbbasket.ru/vol1508/part150887/123456789/photos/ms.webp
                        - fullSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/fs.webp
                          miniSize: https://feedback04.wbbasket.ru/vol1486/part148682/123456789/photos/ms.webp
                      userName: Николай
                      orderStatus: returned
                      matchingSize: ok
                      isAbleSupplierFeedbackValuation: false
                      supplierFeedbackValuation: 1
                      isAbleSupplierProductValuation: false
                      supplierProductValuation: 2
                      isAbleReturnProductOrders: false
                      returnProductOrdersDate: '2024-08-20T16:39:49Z'
                      bables:
                        - цена
                      lastOrderShkId: 123456789
                      lastOrderCreatedAt: '2024-08-12T10:20:48+03:00'
                      color: colorless
                      subjectId: 219
                      subjectName: Футболки-поло
                      parentFeedbackId: null
                      childFeedbackId: bIjTCZDvJni7NGnLbUlf
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr400:
                  $ref: '#/components/examples/FeedbackErr400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsefeedbackErr'
              examples:
                FeedbackErr403:
                  $ref: '#/components/examples/FeedbackErr403'
        '429':
          $ref: '#/components/responses/429'
  /api/feedbacks/v1/pins:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: List of Pinned and Unpinned Feedback
      description: |
        The method allows to get the list of pinned and unpinned feedback.<br>
        Only automatically unpinned feedback cause of the reasons specified in the response in the `unpinnedCause` field are considered unpinned.<br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Feedbacks and Questions</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 3 requests | 333 ms | 6 requests |

        </div>
      tags:
        - Pinned Feedback
      parameters:
        - name: state
          in: query
          description: |
            If the feedback is pinned:
              - `pinned` — yes
              - `unpinned` — no
          schema:
            type: string
            enum:
              - pinned
              - unpinned
            example: pinned
        - name: pinOn
          in: query
          description: |
            Feedback pinning placement:
              - `nm` — product card
              - `imt` — group of merged product cards
          schema:
            type: string
            enum:
              - nm
              - imt
            example: nm
        - name: imtId
          in: query
          description: |
            Merged product cards ID.<br>
            The same for all WB article of group of merged product cards.<br>
            Every product card has `imtId`, even if is not merged with any other card
          schema:
            type: integer
            example: 256972151
        - name: nmId
          in: query
          description: WB article
          schema:
            type: integer
            example: 177974151
        - name: feedbackId
          in: query
          description: |
            Feedback ID
          schema:
            type: integer
            example: 789
        - name: dateFrom
          in: query
          description: |
            The date the first feedback in the list was pinned
          schema:
            type: string
            format: date-time
            example: '2020-01-01T15:04:05Z'
        - name: dateTo
          in: query
          description: |
            The date the last feedback in the list was pinned
          schema:
            type: string
            format: date-time
            example: '2020-02-01T15:04:05Z'
        - name: next
          in: query
          description: |
            The last pinning operation ID (paginator)
          schema:
            type: integer
            example: 741
        - name: limit
          in: query
          description: |
            Feedback number per page (pagination)
          schema:
            type: integer
            default: 500
            example: 100
            maximum: 500
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/respond.SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/openapi.PinnedReviewItemResult'
                      next:
                        type: integer
                        description: Pagination parameter. Specify this value in the request to get the next batch. If the field is missing, you received all the data
                        example: 200
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/respond.ResultErr'
              example:
                status: 400
                title: Bad Request
                detail: state must be one of the values 'pinned', 'unpinned'
                requestId: 7b64у8ffc3523450d613723fwу61873e
                origin: pin-open-api
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
    post:
      x-readonly-method: false
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Pin Feedback
      description: |
        The method allows to pin the feedback to a group of merged product cards or to a product card.<br>
        To get feedback ID, use the [List of pinned and unpinned feedback](/openapi/user-communication#tag/Pinned-Feedback/paths/~1api~1feedbacks~1v1~1pins/get) method.<br>
        <br>
        The method is available for [Jam subscription](https://seller.wildberries.ru/monetization/jam) or **Pin a feedback** option in the [tariff constructor](https://seller.wildberries.ru/tariff-constructor).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Feedbacks and Questions</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 3 requests | 333 ms | 6 requests |

        </div>
      tags:
        - Pinned Feedback
      requestBody:
        content:
          application/json:
            schema:
              type: array
              example:
                - pinMethod: subscription
                  pinOn: imt
                  feedbackId: VlbkVVl7mtw37wуWkJZz
                - pinMethod: tariff
                  pinOn: imt
                  feedbackId: DibuRAImknLyiqgzvGcU
              maxItems: 500
              items:
                $ref: '#/components/schemas/openapi.PinReviewItem'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/respond.SuccessResponse'
                  - $ref: '#/components/schemas/openapi.PinReviewItemResult'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/respond.ResultErr'
              example:
                detail: invalid request body
                origin: pin-open-api
                requestId: 7b64у8ffc3523450d613723fwу61873e
                status: 400
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/respond.ResultErr'
              example:
                origin: pin-open-api
                requestId: 7b64у8ffc3523450d613723fwу61873e
                status: 403
                title: no active subscription or tariff
                detail: this feature requires active subscription or active tariff
        '429':
          $ref: '#/components/responses/429'
    delete:
      x-readonly-method: false
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Unpin Feedback
      description: |
        The method allows to unpin the feedback in a group of merged product cards or a product card.<br>
        To get `pinId` — feedback pinning operation ID, use the [List of pinned and unpinned feedback](/openapi/user-communication#tag/Pinned-Feedback/paths/~1api~1feedbacks~1v1~1pins/get) method.<br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Feedbacks and Questions</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 3 requests | 333 ms | 6 requests |

        </div>
      tags:
        - Pinned Feedback
      requestBody:
        description: List of `pinId` — IDs of feedback pinning operations
        content:
          application/json:
            schema:
              type: array
              maxItems: 500
              items:
                type: integer
              example:
                - 123456
                - 234567
                - 345678
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/respond.SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        description: List of `pinId` — pinning operations IDs of unpinned feedback
                        example:
                          - 123456
                          - 234567
                          - 345678
                        items:
                          type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/respond.ResultErr'
              example:
                detail: invalid request body
                origin: pin-open-api
                requestId: 7b64у8ffc3523450d613723fwу61873e
                status: 400
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/feedbacks/v1/pins/count:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Pinned and Unpinned Feedback Number
      description: |
        The method returns the number of pinned and unpinned feedback for the period.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Feedbacks and Questions</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 3 requests | 333 ms | 6 requests |

        </div>
      tags:
        - Pinned Feedback
      parameters:
        - name: state
          in: query
          description: |
            If the feedback is pinned:
              - `pinned` — yes
              - `unpinned` — no
          schema:
            type: string
            enum:
              - pinned
              - unpinned
            example: pinned
        - name: pinOn
          in: query
          description: |
            Feedback pinning placement:
              - `nm` — product card
              - `imt` — group of merged product cards
          schema:
            type: string
            enum:
              - nm
              - imt
            example: nm
        - name: imtId
          in: query
          description: |
            Merged product cards ID.<br>
            The same for all WB article of group of merged product cards.<br>
            Every product card has `imtId`, even if is not merged with any other card
          schema:
            type: integer
            example: 256971531
        - name: nmId
          in: query
          description: WB article
          schema:
            type: integer
            example: 177974151
        - name: feedbackId
          in: query
          description: Feedback ID
          schema:
            type: integer
            example: 789
        - name: dateFrom
          in: query
          description: |
            The date the first feedback in the list was pinned
          schema:
            type: string
            format: date-time
            example: '2020-01-01T15:04:05Z'
        - name: dateTo
          in: query
          description: |
            The date the last feedback in the list was pinned
          schema:
            type: string
            format: date-time
            example: '2020-02-01T15:04:05Z'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/respond.SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: integer
                        description: Feedback number
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/respond.ResultErr'
              example:
                status: 400
                title: Bad Request
                detail: state must be one of the values 'pinned', 'unpinned'
                requestId: 7b64у8ffc3523450d613723fwу61873e
                origin: pin-open-api
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/feedbacks/v1/pins/limits:
    servers:
      - url: https://feedbacks-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: questionsandfeedback
      security:
        - HeaderApiKey: []
      summary: Pinned Feedback Limits
      description: |
        The method returns the pinned feedback limits for a tariff and subscription.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Feedbacks and Questions</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 3 requests | 333 ms | 6 requests |

        </div>
      tags:
        - Pinned Feedback
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/respond.SuccessResponse'
                  - $ref: '#/components/schemas/openapi.SellerLimitsResponse'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/seller/chats:
    get:
      x-readonly-method: true
      x-category: buyerchat
      servers:
        - url: https://buyer-chat-api.wildberries.ru
      security:
        - HeaderApiKey: []
      summary: Chat List
      description: |
        Returns a list of all seller's chats.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 10 s | 10 requests | 1 s | 10 requests |
        </div>
      tags:
        - Buyers Chat
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatsResponse'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/seller/events:
    get:
      x-readonly-method: true
      x-category: buyerchat
      servers:
        - url: https://buyer-chat-api.wildberries.ru
      security:
        - HeaderApiKey: []
      summary: Chat Events
      description: |
        Returns an event list for all chats.

        To retrieve all events:
          1. Make the first request without a `next` parameter.
          2. Repeat the request with the `next` parameter value from the previous response until `totalEvents` becomes `0`. This will indicate that you have received all events.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 10 s | 10 requests | 1 s | 10 requests |
        </div>
      tags:
        - Buyers Chat
      parameters:
        - name: next
          in: query
          description: |
            Paginator. Retrieve the next data packet starting from this moment. <br>Format: Unix timestamp **with milliseconds**
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsResponse'
              example:
                result:
                  next: 1698045576000
                  newestEventTime: '2023-10-23T07:19:36Z'
                  oldestEventTime: '2023-10-23T05:02:20Z'
                  totalEvents: 4
                  events:
                    - chatID: 1:1e265a58-a120-b178-008c-60af2460207c
                      eventID: 55adee45-11f0-33b6-a847-6ccc7c78b2ec
                      eventType: message
                      isNewChat: true
                      message:
                        attachments:
                          goodCard:
                            date: '2023-10-18T11:46:01.528526Z'
                            nmID: 12345678
                            price: 500
                            priceCurrency: RUB
                            rid: 2fb52cd9e25e52538a5f05994e688ae5
                            size: '0'
                          files:
                            - contentType: application/pdf
                              date: '2023-10-23T08:02:19.594Z'
                              downloadID: ecaeb056-a4ee-45b4-ae45-666811755d38
                              name: Чек.pdf
                              url: https://chat-basket-01.wbbasket.ru/vol0/part3265/fb25c9e9-cae8-52db-b68e-736c1896a3f5/pdf/0380e781-281e-41b5-8ae1-ce281f15a4a7.pdf
                              size: 1046143
                          images:
                            - date: '2023-10-23T08:02:20.717Z'
                              downloadID: fd6be4e3-5447-41d7-a1e6-b2d3e06c3b05
                              url: https://chat-basket-01.wbbasket.ru/vol0/part2345/fb89c9e9-cae8-52db-b68e-736c1466a3f5/jpg/0823ff24-821e-40e9-8cdf-0a2b5fd86a32.jpg
                        text: Здравствуйте! У меня вопрос по товару "Альбом, бренд Эконом, артикул 13480414, товар получен 18.10.2023"
                      source: rusite
                      addTimestamp: 1698037340000
                      addTime: '2023-10-23T05:02:20Z'
                      replySign: 1:1e265a58-a120-b178-008c-60af2460207c:66f136e919a8207e136757754f253189bfb9ae1ad9da9170c9d5c478626663908888c370216525bef51c0ca8d77952e05c9c17f9b63ab00374c5555b42efc07d
                      sender: client
                      clientName: Алёна
                    - chatID: 1:1e265a58-a120-b178-008c-60af2460207c
                      eventID: cef95d3c-0345-4dc9-b6df-4c8c57a176a9
                      eventType: message
                      message:
                        text: Здравствуйте! Пришёл не тот цвет. Можно вернуть и заказать другой товар?
                      source: rusite
                      addTimestamp: 1698037387000
                      addTime: '2023-10-23T05:03:07Z'
                      sender: client
                      clientName: Алёна
                    - chatID: 1:1e265a58-a120-b178-008c-60af2460207c
                      eventID: fd22e5bf-64fd-43f7-b3a0-ad29uu027f97
                      eventType: message
                      message:
                        text: Здравствуйте. Да, сейчас оформим возврат.
                      source: seller-public-api
                      addTimestamp: 1698038124000
                      addTime: '2023-10-23T05:15:24Z'
                      sender: seller
                    - chatID: 1:1e265a58-a120-b178-008c-60af2460207c
                      eventID: cef95d3c-0345-4dc9-b6df-4c8c75a176a7
                      eventType: message
                      addTimestamp: 1698045576000
                      addTime: '2023-10-23T07:19:36Z'
                      sender: seller
                errors: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code
                  title:
                    type: string
                    description: Error title
                  origin:
                    type: string
                    description: WB internal service ID
                  detail:
                    type: string
                    description: Error details
                  requestId:
                    type: string
                    description: Unique request ID
                  error:
                    type: string
                    description: Error text
              examples:
                IncorrectNextParameter:
                  description: The data type or value is incorrect
                  value:
                    status: 400
                    title: Bad Request
                    origin: proxy-chats
                    detail: Invalid number
                    requestId: 62f59a4ce21064f20b1bbc28c85f38d8
                    error: Invalid number
                IncorrectNextParameter1:
                  description: Invalid value 0
                  value:
                    status: 400
                    title: Bad Request
                    origin: proxy-chats
                    detail: Invalid value for "next"
                    requestId: 62f59a4ce21064f20b1bbc28c85f38d8
                    error: Invalid value for "next"
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/seller/message:
    post:
      x-readonly-method: false
      x-category: buyerchat
      servers:
        - url: https://buyer-chat-api.wildberries.ru
      security:
        - HeaderApiKey: []
      summary: Send Message
      description: |
        Sends message to the buyer.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 10 s | 10 requests | 1 s | 10 requests |
        </div>
      tags:
        - Buyers Chat
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - replySign
              type: object
              properties:
                replySign:
                  maxLength: 255
                  type: string
                  description: |
                    Chat signature. Can be obtained from [chat information](./user-communication#tag/Buyers-Chat/paths/~1api~1v1~1seller~1chats/get) or [event data](./user-communication#tag/Buyers-Chat/paths/~1api~1v1~1seller~1events/get) if the event contains the `"isNewChat": true` field.
                message:
                  maxLength: 1000
                  type: string
                  description: Message text. Maximum of 1000 symbols.
                file:
                  type: array
                  description: |
                    Files, in JPEG, PDF, or PNG format, maximum size — 5 MB each. Maximum of total file size — 30 MB.
                  items:
                    type: string
                    format: binary
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                result:
                  addTime: 1712848270018
                  chatID: 1:641b623c-5c0e-295b-db03-3d5b4d484c32
                errors: []
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code
                  title:
                    type: string
                    description: Error title
                  origin:
                    type: string
                    description: WB internal service ID
                  detail:
                    type: string
                    description: Error details
                  requestId:
                    type: string
                    description: Unique request ID
                  error:
                    type: string
                    description: Error text
              examples:
                InvalidSignature:
                  description: Invalid signature
                  value:
                    status: 400
                    title: Bad Request
                    origin: proxy-chats
                    detail: Invalid signature
                    requestId: 1b21cad4833a0c9244dc294a000f6149
                    error: Invalid signature
                InvalidFileSize:
                  description: File attachment size is too big
                  value:
                    status: 400
                    title: Bad Request
                    origin: proxy-chats
                    detail: 'A24FA09844E: attachment too big. Max size: 5MiB'
                    requestId: 1b21cad4833a0c9244dc294a000f6149
                    error: 'A24FA09844E: attachment too big. Max size: 5MiB'
                UnsupportedFilesType:
                  description: Unsupported file type
                  value:
                    status: 400
                    title: Bad Request
                    origin: proxy-chats
                    detail: '4A9F2544E29: "video_2023-07-25_10-54-09.mp4" has unsupported mime type'
                    requestId: 1b21cad4833a0c9244dc294a000f6149
                    error: '4A9F2544E29: "video_2023-07-25_10-54-09.mp4" has unsupported mime type'
                InvalidMessage:
                  description: Invalid value for the message parameter
                  value:
                    status: 400
                    title: Bad Request
                    origin: proxy-chats
                    detail: Invalid value for "message"
                    requestId: 1b21cad4833a0c9244dc294a000f6149
                    error: Invalid value for "message"
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/seller/download/{id}:
    get:
      x-readonly-method: true
      x-category: buyerchat
      servers:
        - url: https://buyer-chat-api.wildberries.ru
      security:
        - HeaderApiKey: []
      tags:
        - Buyers Chat
      summary: Get File from the Message
      description: |
        The method provides a file or image from the message by its ID.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 10 s | 10 requests | 1 s | 10 requests |
        </div>
      parameters:
        - name: id
          in: path
          description: File ID from the `downloadID` field in the [chat events](./user-communication#tag/Buyers-Chat/paths/~1api~1v1~1seller~1events/get) method
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        '202':
          description: The file is under moderation
          content:
            application/json:
              schema:
                type: object
                properties:
                  moderationState:
                    type: string
                    description: Moderation status
                    example: pending
                  retrySeconds:
                    type: integer
                    description: Seconds until retry to request a file
                    example: 30
                required:
                  - moderationState
                  - retrySeconds
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    description: HTTP status code
                  title:
                    type: string
                    description: Error title
                  origin:
                    type: string
                    description: WB internal service ID
                  detail:
                    type: string
                    description: Error details
                  requestId:
                    type: string
                    description: Unique request ID
                  error:
                    type: string
                    description: Error text
              examples:
                IncorrectNextParameter:
                  description: Invalid file ID
                  value:
                    status: 400
                    title: invalid fileID
                    origin: proxy-chats
                    detail: invalid fileID
                    requestId: 62f59a4ce21064f20b1bbc28c85f38d8
                    error: invalid fileID
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
        '451':
          description: Moderation failed
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 451
                  title:
                    type: string
                    description: Error title
                    example: Unavailable for Legal Reasons
                  origin:
                    type: string
                    description: WB internal service ID
                    example: proxy-chats
[...]
