openapi: 3.0.1
info:
  title: Reports
  version: reports
  description: Reports on products, retentions, acceptance expenses, and paid storage
  x-file-name: reports
security:
  - HeaderApiKey: []
tags:
  - name: Main Reports
    description: ''
  - name: Warehouses Inventory Report
    description: ''
  - name: Report on Products with Mandatory Labeling
    description: ''
  - name: Retention Reports
    description: ''
  - name: Acceptance Expenses
    description: ''
  - name: Paid Storage
    description: ''
  - name: Sales by Regions
    description: ''
  - name: Share of Brand in Sales
    description: ''
  - name: Hidden Products
    description: ''
  - name: Returns and Product Movement Report
    description: ''
paths:
  /api/v1/supplier/stocks:
    servers:
      - url: https://statistics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: statistics
      security:
        - HeaderApiKey: []
      summary: Warehouse
      deprecated: true
      description: "This method is deprecated. It will be removed on\_[June 23](https://dev.wildberries.ru/en/release-notes?id=494)\n\n<div class=\"description_limit\">\n  <a href=\"/openapi/api-information#tag/Introduction/Rate-Limits\">Request limit</a> per one seller's account:\n\n  | Period | Limit | Interval | Burst |\n  | --- | --- | --- | --- |\n  | 1 minute | 1 request | 1 minute | 1 request |\n</div>\n"
      tags:
        - Main Reports
      parameters:
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date-time
          required: true
          description: |
            Date and time of last change on the product.<br>
            The earliest possible value should be entered to get the total leftover, e.g. `2019-06-20`.
            Date format: RFC3339. You may send date or date with time.
            Time could be specified in seconds or milliseconds.<br>
            The time stands in Moscow time zone (UTC+3).
            <br>Examples:
              - `2019-06-20`
              - `2019-06-20T23:59:59`
              - `2019-06-20T00:00:00.12345`
              - `2017-03-25T00:00:00`
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StocksItem'
              example:
                - lastChangeDate: '2023-07-05T11:13:35'
                  warehouseName: Краснодар
                  supplierArticle: '443284'
                  nmId: 1439871458
                  barcode: '2037401340280'
                  quantity: 33
                  inWayToClient: 1
                  inWayFromClient: 0
                  quantityFull: 34
                  category: Посуда и инвентарь
                  subject: Формы для запекания
                  brand: X
                  techSize: '0'
                  Price: 185
                  Discount: 0
                  isSupply: true
                  isRealization: false
                  SCCode: Tech
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/responseErrorStatistics'
                  - $ref: '#/components/schemas/responseErrorStatistics2'
              examples:
                DateFromFieldRequired:
                  $ref: '#/components/examples/DateFromFieldRequired'
                DateFromValueNotValidated:
                  $ref: '#/components/examples/DateFromValueNotValidated'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/supplier/orders:
    servers:
      - url: https://statistics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: statistics
      security:
        - HeaderApiKey: []
      summary: Orders
      description: |
        The method returns order information.<br>The data updated every 30 minutes.<br><br>

        1 line means 1 order and means 1 item.<br>The `srid` field should be used to identify the order.<br><br>

        Data storage is guaranteed for no more than 90 days from the date of sale.<br><br>

        The responses do not include orders for which payment was not confirmed. For example, it could be orders with delayed payments or installment payments. However, if there are sales for such orders, you can get it using [details for the realization reports](/openapi/financial-reports-and-accounting#tag/Financial-Reports/paths/~1api~1v5~1supplier~1reportDetailByPeriod/get).<br>
        To receive all completed orders, use [Order Feed](https://seller.wildberries.ru/content-analytics/order-feed) in your personal account.

        <div class="description_important">
          The data in this report is preliminary and is used for operational monitoring
        </div>

        For a single response to a request with `flag=0` or without `flag`, a conditional limit of 80,000 rows is set. Therefore, more than one request may be necessary to retrieve all orders. In the second and subsequent requests, use the full value of the `lastChangeDate` field of the last row from the response of the previous request in the `dateFrom` parameter.<br> If the response returns an empty array `[]`, all orders have already been retrieved.

        <div class="description_limit">
          <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

          | Period | Limit | Interval | Burst |
          | --- | --- | --- | --- |
          | 1 minute | 1 request | 1 minute | 1 request |
        </div>
      tags:
        - Main Reports
      parameters:
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date-time
          required: true
          description: |
            Date and time of last change on the order.<br>
            Date format: RFC3339. You may send date or date with time.
            Time could be specified in seconds or milliseconds.<br>
            The time stands in Moscow time zone (UTC+3).
            <br>Examples:
              - `2019-06-20`
              - `2019-06-20T23:59:59`
              - `2019-06-20T00:00:00.12345`
              - `2017-03-25T00:00:00`
        - $ref: '#/components/parameters/flag'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrdersItem'
              example:
                - date: '2022-03-04T18:08:31'
                  lastChangeDate: '2022-03-06T10:11:07'
                  warehouseName: Подольск
                  warehouseType: Склад продавца
                  countryName: Россия
                  oblastOkrugName: Центральный федеральный округ
                  regionName: Московская
                  supplierArticle: '12345'
                  nmId: 1234567
                  barcode: '123453559000'
                  category: Бытовая техника
                  subject: Мультистайлеры
                  brand: Тест
                  techSize: '0'
                  incomeID: 56735459
                  isSupply: false
                  isRealization: true
                  totalPrice: 1887
                  discountPercent: 18
                  spp: 26
                  finishedPrice: 1145
                  priceWithDisc: 1547
                  isCancel: true
                  cancelDate: '2022-03-09T00:00:00'
                  sticker: '926912515'
                  gNumber: '34343462218572569531'
                  srid: 11.rf9ef11fce1684117b0nhj96222982382.3.0
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/responseErrorStatistics'
                  - $ref: '#/components/schemas/responseErrorStatistics2'
              examples:
                DateFromFieldRequired:
                  $ref: '#/components/examples/DateFromFieldRequired'
                DateFromValueNotValidated:
                  $ref: '#/components/examples/DateFromValueNotValidated'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/supplier/sales:
    servers:
      - url: https://statistics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: statistics
      security:
        - HeaderApiKey: []
      summary: Sales
      description: |
        The method returns sale and return information.<br>The data updated every 30 minutes.<br><br>

        1 line means 1 sale/return and means 1 item.<br>The `srid` field should be used to identify the order.<br><br>

        Data storage is guaranteed for no more than 90 days from the date of sale.<br><br>

        <div class="description_important">
          The data in this report is preliminary and is used for operational monitoring
        </div>

          - The responses do not include orders for which payment was not confirmed, even if these orders are in details for the realization reports. For example, it could be orders with delayed payments or installment payments
          - The values of the `priceWithDisc` and `forPay` fields are calculated using a simplified logic and may differ from `retail_price_withdisc_rub` and `ppvz_for_pay`, respectively, in details for the realization reports
          - The fields `finishedPrice`, `priceWithDisc`, and `forPay` may temporarily have the value `0`: data is filled in asynchronously and updated within 24 hours
          - For orders that are paid in a currency other than the seller's currency, prices may be rounded due to currency conversion

        Use [details for the realization reports](/openapi/financial-reports-and-accounting#tag/Financial-Reports/paths/~1api~1v5~1supplier~1reportDetailByPeriod/get) for accurate financial calculations, reconciliation, and reporting.<br><br>

        For a single response to a request with `flag=0` or without `flag`, a conditional limit of 80,000 rows is set. Therefore, more than one request may be necessary to retrieve all sales and returns. In the second and subsequent requests, use the full value of the `lastChangeDate` field of the last row from the response of the previous request in the `dateFrom` parameter.<br> If the response returns an empty array `[]`, all sales and returns have already been retrieved.

        <div class="description_limit">
          <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

          | Period | Limit | Interval | Burst |
          | --- | --- | --- | --- |
          | 1 minute | 1 request | 1 minute | 1 request |
        </div>
      tags:
        - Main Reports
      parameters:
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date-time
          required: true
          description: |
            Date and time of last change on the sale/return.<br>
            Date format: RFC3339. You may send date or date with time.
            Time could be specified in seconds or milliseconds.<br>
            The time stands in Moscow time zone (UTC+3).
            <br>Examples:
              - `2019-06-20`
              - `2019-06-20T23:59:59`
              - `2019-06-20T00:00:00.12345`
              - `2017-03-25T00:00:00`
        - $ref: '#/components/parameters/flag'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesItem'
              example:
                - date: '2022-03-04T18:08:31'
                  lastChangeDate: '2022-03-06T10:11:07'
                  warehouseName: Подольск
                  warehouseType: Склад продавца
                  countryName: Россия
                  oblastOkrugName: Центральный федеральный округ
                  regionName: Московская
                  supplierArticle: '12345'
                  nmId: 1234567
                  barcode: '123453559000'
                  category: Бытовая техника
                  subject: Мультистайлеры
                  brand: Тест
                  techSize: '0'
                  incomeID: 56735459
                  isSupply: false
                  isRealization: true
                  totalPrice: 1887
                  discountPercent: 18
                  spp: 20
                  paymentSaleAmount: 93
                  forPay: 1284.01
                  finishedPrice: 1145
                  priceWithDisc: 1547
                  saleID: S9993700024
                  sticker: '926912515'
                  gNumber: '34343462218572569531'
                  srid: 11.rf9ef11fce1684117b0nhj96222982382.3.0
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/responseErrorStatistics'
                  - $ref: '#/components/schemas/responseErrorStatistics2'
              examples:
                DateFromFieldRequired:
                  $ref: '#/components/examples/DateFromFieldRequired'
                DateFromValueNotValidated:
                  $ref: '#/components/examples/DateFromValueNotValidated'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/analytics/excise-report:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: contentanalytics
      tags:
        - Report on Products with Mandatory Labeling
      summary: Report on Products with Mandatory Labeling
      description: |
        Returns operations with labeled products

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 5 h | 10 requests | 30 min | 10 requests |
        </div>
      parameters:
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExciseReportRequest'
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExciseReportResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: 'request body has an error: doesn''t match schema #/components/schemas/ExciseReportRequest: Error at "/countries/0": value is not one of the allowed values ["AM","BY","KG","KZ","RU","UZ"]'
                origin: tariffs
                requestId: 8bbd7db59522d09926dd059892dbeff0
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/warehouse_remains:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Warehouses Inventory Report
      summary: Create the Report
      description: |
        Creates a task for report generation. The parameters `groupBy` and `filter` can be set in any combination — similar to the [version](https://seller.wildberries.ru/analytics-reports/warehouse-remains) in the personal account.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 1 request | 1 min | 5 requests |
        </div>
      parameters:
        - in: query
          name: locale
          schema:
            type: string
            example: ru
            default: ru
          description: |
            Language of the `subjectName` and `warehouseName` response fields:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese. Values of the `warehouseName` are in English
        - name: groupByBrand
          in: query
          schema:
            type: boolean
            example: true
            default: false
          description: Group by brand
        - name: groupBySubject
          in: query
          schema:
            type: boolean
            example: true
            default: false
          description: Group by subject
        - name: groupBySa
          in: query
          schema:
            type: boolean
            example: true
            default: false
          description: Group by seller's article
        - name: groupByNm
          in: query
          schema:
            type: boolean
            example: true
            default: false
          description: Group by WB article. If `groupByNm=true`, there will be `volume` field in the response
        - name: groupByBarcode
          in: query
          schema:
            type: boolean
            example: true
            default: false
          description: Group by barcode
        - name: groupBySize
          in: query
          schema:
            type: boolean
            example: true
            default: false
          description: Group by size
        - name: filterPics
          in: query
          schema:
            type: integer
            example: 1
            default: 0
          description: |
            Photo filter:
              - `-1` — without photo
              - `0` — do not apply filter
              - `1` — with photo
        - name: filterVolume
          in: query
          schema:
            type: integer
            example: 3
            default: 0
          description: |
            Volume filter:
              - `-1` — without dimensions
              - `0` — do not apply filter
              - `3` — over three liters
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTaskResponse'
              examples:
                CreateResponseData:
                  $ref: '#/components/examples/CreateResponseData'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: 'parameter "groupByNm" in query has an error: empty value is not allowed'
                origin: api-statistics
                requestId: 6a6c2fba81f08e58670a7dab835ff0d7
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/warehouse_remains/tasks/{task_id}/status:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Warehouses Inventory Report
      summary: Check the Status
      description: |
        Returns the status of the generation task

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 5 s | 1 request | 5 s | 5 requests |
        </div>
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            example: 06e06887-9d9f-491f-b16a-bb1766fcb8d2
          description: |
            Generation task ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTasksResponse'
              examples:
                GetTasksResponseData:
                  $ref: '#/components/examples/GetTasksResponseData'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: 'Invalid format for parameter task_id: error unmarshaling ''2f071556-ae39-492f-fd8cf1eb0d25'' text as *uuid.UUID: invalid UUID length: 31'
                origin: api-statistics
                requestId: 52dd27a91a1a643feae7201b206462df
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: not found
                origin: api-statistics
                requestId: c777731fc180f215a49c9896c2f1200d
                title: Not Found
        '429':
          $ref: '#/components/responses/429'
  /api/v1/warehouse_remains/tasks/{task_id}/download:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Warehouses Inventory Report
      summary: Get the Report
      description: |
        Returns the report by task ID

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 1 request | 1 min | 1 request |
        </div>
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            example: 06e06887-9d9f-491f-b16a-bb1766fcb8d2
          description: |
            Generation task ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    brand:
                      type: string
                      example: Wonderful
                      description: Brand
                    subjectName:
                      type: string
                      example: Фотоальбомы
                      description: Subject name
                    vendorCode:
                      type: string
                      example: 41058/прозрачный
                      description: Seller's article
                    nmId:
                      type: integer
                      example: 183804172
                      description: WB article
                    barcode:
                      type: string
                      example: '2037031652319'
                      description: Barcode
                    techSize:
                      type: string
                      example: '0'
                      description: Size
                    volume:
                      type: number
                      example: 1.33
                      description: Volume, L
                    warehouses:
                      type: array
                      description: Inventory and to and from the client. It will be included in the response only if `quantity` is non-zero
                      items:
                        type: object
                        properties:
                          warehouseName:
                            type: string
                            example: Невинномысск
                            description: Warehouse name
                          quantity:
                            type: integer
                            example: 134
                            description: |
                              Quantity
              example:
                - brand: Wonderful
                  subjectName: Фотоальбомы
                  vendorCode: 41058/прозрачный
                  nmId: 183804172
                  barcode: '2037031652319'
                  techSize: '0'
                  volume: 1.33
                  warehouses:
                    - warehouseName: В пути до получателей
                      quantity: 14
                    - warehouseName: В пути возвраты на склад WB
                      quantity: 4
                    - warehouseName: Всего находится на складах
                      quantity: 267
                    - warehouseName: Невинномысск
                      quantity: 134
                    - warehouseName: Коледино
                      quantity: 133
        '204':
          description: No data
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: 'Invalid format for parameter task_id: error unmarshaling ''7b8875---9f03-46f1-af21-b9b4b22fe821'' text as *uuid.UUID: invalid UUID format'
                origin: api-statistics
                requestId: 44bac63ab29c46cb2d49392e6604c1a0
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: not found
                origin: api-statistics
                requestId: c777731fc180f215a49c9896c2f1200d
                title: Not Found
        '429':
          $ref: '#/components/responses/429'
  /api/analytics/v1/measurement-penalties:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Retention Reports
      summary: Logistics and Storage Costs Multiplier
      operationId: getMeasurementPenalties
      description: |
        The method returns a report with [logistics and storage costs multiplier](https://seller.wildberries.ru/analytics-reports/dimensions-penalties)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 1 request | 1 min | 1 request |
        </div>
      parameters:
        - in: query
          name: dateFrom
          description: Report period start. By default the date when data for the report was first received is used
          schema:
            type: string
            format: date-time
          example: '2025-02-01T15:00:00Z'
        - in: query
          name: dateTo
          required: true
          description: Report period end
          schema:
            type: string
            format: date-time
          example: '2025-10-11T18:00:00Z'
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            example: 330
            maximum: 1000
          description: Number of retentions in the response
        - name: offset
          in: query
          schema:
            type: integer
            example: 220
            default: 0
          description: How many results to skip. For example, with value `10`, the response will start with the 11 element
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeasurementPenalties'
              examples:
                MeasurementPenalties:
                  $ref: '#/components/examples/MeasurementPenalties'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response400Retentions'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response403Retentions'
        '429':
          $ref: '#/components/responses/429'
  /api/analytics/v1/warehouse-measurements:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Retention Reports
      summary: Warehouse Measurements
      operationId: getWarehouseMeasurements
      description: |
        The method returns a report with [warehouse measurements](https://seller.wildberries.ru/analytics-reports/dimensions-penalties/warehouse-measurements)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 1 request | 1 min | 1 request |
        </div>
      parameters:
        - in: query
          name: dateFrom
          description: Report period start. By default the date when data for the report was first received is used
          schema:
            type: string
            format: date-time
          example: '2025-02-01T15:00:00Z'
        - in: query
          name: dateTo
          required: true
          description: Report period end
          schema:
            type: string
            format: date-time
          example: '2025-10-11T18:00:00Z'
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            example: 330
            maximum: 1000
          description: Number of measurements in the response
        - name: offset
          in: query
          schema:
            type: integer
            example: 220
            default: 0
          description: How many results to skip. For example, with value `10`, the response will start with the 11 element
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WHM'
              examples:
                Measurements:
                  $ref: '#/components/examples/WHM'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response400Retentions'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response403Retentions'
        '429':
          $ref: '#/components/responses/429'
  /api/analytics/v1/deductions:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Retention Reports
      summary: Substitutions and Incorrect Attachments
      operationId: getDeductions
      description: |
        The method returns a report with [substitutions and incorrect attachments](https://seller.wildberries.ru/analytics-reports/dimensions-penalties/retentions) retentions

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 1 request | 1 min | 1 request |
        </div>
      parameters:
        - name: dateFrom
          in: query
          description: Report period start. By default the date and time when data for the report was first received is used
          schema:
            type: string
            format: date-time
          example: '2025-02-01T15:00:00Z'
        - name: dateTo
          in: query
          required: true
          description: Report period end
          schema:
            type: string
            format: date-time
          example: '2025-10-11T18:00:00Z'
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - nmId
              - dtBonus
              - bonusSumm
            default: dtBonus
            example: nmId
          description: |
            Sorting:
            - `nmId` — by Wildberries article
            - `dtBonus` — by fine date and time
            - `bonusSumm` — by fine amount
        - name: order
          in: query
          schema:
            type: string
            enum:
              - desc
              - asc
            default: desc
            example: asc
          description: |
            Data order:
            - `desc` — descending
            - `asc` — ascending
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            example: 330
            maximum: 1000
          description: Number of retentions in the response
        - name: offset
          in: query
          schema:
            type: integer
            example: 220
            default: 0
          description: How many results to skip. For example, with value `10`, the response will start with the 11 element
      responses:
        '200':
          $ref: '#/components/responses/SuccessSubstIncorAttachResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response400Retentions'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response403Retentions'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/analytics/antifraud-details:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Retention Reports
      summary: Self-purchases
      description: "Returns report with self-purchase deductions. The report is generated on Wednesdays at 7:00 UTC+4 and contains weekly data. Also you can get all data starting from August\_2023.\n<br><br>\nSelf-purchase deduction is\_30% of product price. Minimum deduction is\_100,000\_₽, if the total product cost delivered to the pick-up point is more than 100,000\_₽ per one week.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Introduction/Rate-Limits\">Request limit</a> per one seller's account:\n\n| Period | Limit | Interval | Burst |\n| --- | --- | --- | --- |\n| 10 min | 1 request | 10 min | 10 requests |\n</div>\n"
      parameters:
        - $ref: '#/components/parameters/Date'
      responses:
        '200':
          $ref: '#/components/responses/SuccessTaskResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              examples:
                IncorrectDate:
                  $ref: '#/components/examples/IncorrectDate'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/analytics/goods-labeling:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Retention Reports
      summary: Product Labeling
      description: |
        Returns a report on deductions for the absence of mandatory product labeling.
        <br>The report contains photos of products where the labeling is absent or cannot be read.
        <br>Data can be obtained for up to 31 days, starting from March 2024

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 1 request | 1 min | 10 requests |
        </div>
      parameters:
        - $ref: '#/components/parameters/DateFromGoodsLabeling'
        - $ref: '#/components/parameters/DateToGoodsLabeling'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGoodsLabelingResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              examples:
                MissingDateTimeFrom:
                  $ref: '#/components/examples/MissingDateTimeFrom'
                MissingDateTimeTo:
                  $ref: '#/components/examples/MissingDateTimeTo'
                IncorrectDateTimeFrom:
                  $ref: '#/components/examples/IncorrectDateTimeFrom'
                IncorrectDateTimeTo:
                  $ref: '#/components/examples/IncorrectDateTimeTo'
                DateRangeExceeded:
                  $ref: '#/components/examples/DateRangeExceeded'
                DateRanges:
                  $ref: '#/components/examples/DateRanges'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/acceptance_report:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Acceptance Expenses
      summary: Create the Report
      description: "Creates a task for report generation.<br></br>\nMaximum of report period is\_31\_days.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Introduction/Rate-Limits\">Request limit</a> per one seller's account:\n\n| Period | Limit | Interval | Burst |\n| --- | --- | --- | --- |\n| 1 min | 1 request | 1 min | 1 request |\n</div>\n"
      parameters:
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTaskResponse'
              examples:
                CreateResponseData:
                  $ref: '#/components/examples/CreateResponseData'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              examples:
                MissingDateTimeFrom:
                  $ref: '#/components/examples/MissingDateTimeFrom'
                MissingDateTimeTo:
                  $ref: '#/components/examples/MissingDateTimeTo'
                IncorrectDateTimeFrom:
                  $ref: '#/components/examples/IncorrectDateTimeFrom'
                IncorrectDateTimeTo:
                  $ref: '#/components/examples/IncorrectDateTimeTo'
                DateRangeExceeded:
                  $ref: '#/components/examples/DateRangeExceeded'
                DateRanges:
                  $ref: '#/components/examples/DateRanges'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/acceptance_report/tasks/{task_id}/status:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Acceptance Expenses
      summary: Check the Status
      description: |
        Returns the status of the generation task

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 5 s | 1 request | 5 s | 1 request |
        </div>
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            example: 06e06887-9d9f-491f-b16a-bb1766fcb8d2
          description: |
            Generation task ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTasksResponse'
              examples:
                GetTasksResponseData:
                  $ref: '#/components/examples/GetTasksResponseData'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: 'Invalid format for parameter task_id: error unmarshaling ''7b8875---9f03-46f1-af21-b9b4b22fe821'' text as *uuid.UUID: invalid UUID format'
                origin: api-statistics
                requestId: 44bac63ab29c46cb2d49392e6604c1a0
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: not found
                origin: api-statistics
                requestId: c777731fc180f215a49c9896c2f1200d
                title: Not Found
        '429':
          $ref: '#/components/responses/429'
  /api/v1/acceptance_report/tasks/{task_id}/download:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Acceptance Expenses
      summary: Get the Report
      description: |
        Returns the report by task ID

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 1 request | 1 min | 1 request |
        </div>
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            example: 06e06887-9d9f-491f-b16a-bb1766fcb8d2
          description: |
            Generation task ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    count:
                      type: integer
                      description: "Number of\_products"
                      example: 40
                    giCreateDate:
                      type: string
                      format: date
                      description: Shipment creation date
                      example: '2025-03-04'
                    incomeId:
                      type: integer
                      description: Shipment number
                      example: 11834106
                    nmID:
                      type: integer
                      description: Wildberries article
                      example: 123456789
                    shkCreateDate:
                      type: string
                      format: date
                      description: Receiving date
                      example: '2025-03-14'
                    subjectName:
                      type: string
                      description: Subject
                      example: Добавки пищевые
                    total:
                      type: number
                      description: "Receiving cost,\_₽ with kopecks"
                      example: 873.04
        '204':
          description: No data
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: 'Invalid format for parameter task_id: error unmarshaling ''2f071556-ae39-492f-fd8cf1eb0d25'' text as *uuid.UUID: invalid UUID length: 31'
                origin: api-statistics
                requestId: 52dd27a91a1a643feae7201b206462df
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: not found
                origin: api-statistics
                requestId: c777731fc180f215a49c9896c2f1200d
                title: Not Found
        '429':
          $ref: '#/components/responses/429'
  /api/v1/paid_storage:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Paid Storage
      summary: Generate the Report
      description: "Create a task to generate a report. Maximum of report period\_— 8\_days\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Introduction/Rate-Limits\">Request limit</a> per one seller's account:\n\n| Period | Limit | Interval | Burst |\n| --- | --- | --- | --- |\n| 1 min | 1 request | 1 min | 5 requests |\n</div>\n"
      parameters:
        - name: dateFrom
          in: query
          required: true
          schema:
            type: string
            example: '2022-01-01'
          description: |
            Start of the report period, RFC3339 format. Date or date and time, for example:

              * `2019-06-20`
              * `2019-06-20T23:59:59`
              * `2019-06-20T00:00:00.12345`
              * `2017-03-25T00:00:00`
        - name: dateTo
          in: query
          required: true
          schema:
            type: string
            example: '2022-01-09'
          description: |
            End of the report period, RFC3339 format. Date or date and time, for example:

              * `2019-06-20`
              * `2019-06-20T23:59:59`
              * `2019-06-20T00:00:00.12345`
              * `2017-03-25T00:00:00`
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTaskResponse'
              examples:
                CreateResponseData:
                  $ref: '#/components/examples/CreateResponseData'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              examples:
                MissingDateTimeFrom:
                  $ref: '#/components/examples/MissingDateTimeFrom'
                MissingDateTimeTo:
                  $ref: '#/components/examples/MissingDateTimeTo'
                IncorrectDateTimeFrom:
                  $ref: '#/components/examples/IncorrectDateTimeFrom'
                IncorrectDateTimeTo:
                  $ref: '#/components/examples/IncorrectDateTimeTo'
                DateRangeExceeded:
                  $ref: '#/components/examples/DateRangeExceeded8'
                DateRanges:
                  $ref: '#/components/examples/DateRanges'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/paid_storage/tasks/{task_id}/status:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Paid Storage
      summary: Check the Status
      description: |
        Returns the status of task

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 5 s | 1 request | 5 s | 5 requests |
        </div>
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            example: 06e06887-9d9f-491f-b16a-bb1766fcb8d2
          description: |
            Task ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTasksResponse'
              examples:
                GetTasksResponseData:
                  $ref: '#/components/examples/GetTasksResponseData'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: 'Invalid format for parameter task_id: error unmarshaling ''2f071556-ae39-492f-fd8cf1eb0d25'' text as *uuid.UUID: invalid UUID length: 31'
                origin: api-statistics
                requestId: 52dd27a91a1a643feae7201b206462df
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: not found
                origin: api-statistics
                requestId: c777731fc180f215a49c9896c2f1200d
                title: Not Found
        '429':
          $ref: '#/components/responses/429'
  /api/v1/paid_storage/tasks/{task_id}/download:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Paid Storage
      summary: Get the Report
      description: |
        Returns the report by task ID

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 1 request | 1 min | 1 request |
        </div>
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            example: 06e06887-9d9f-491f-b16a-bb1766fcb8d2
          description: |
            Task ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePaidStorage'
              example:
                - date: '2023-10-01'
                  logWarehouseCoef: 1
                  officeId: 507
                  warehouse: Коледино
                  warehouseCoef: 1.7
                  giId: 123456
                  chrtId: 1234567
                  size: '0'
                  barcode: ''
                  subject: Маски одноразовые
                  brand: 1000 Каталог
                  vendorCode: '567383'
                  nmId: 1234567
                  volume: 12
                  calcType: 'короба: без габаритов'
                  warehousePrice: 7.65
                  barcodesCount: 1
                  palletPlaceCode: 0
                  palletCount: 0
                  originalDate: '2023-03-01'
                  loyaltyDiscount: 10
                  tariffFixDate: '2023-10-01'
                  tariffLowerDate: '2023-11-01'
        '204':
          description: No data
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: 'Invalid format for parameter task_id: error unmarshaling ''7b8875---9f03-46f1-af21-b9b4b22fe821'' text as *uuid.UUID: invalid UUID format'
                origin: api-statistics
                requestId: 44bac63ab29c46cb2d49392e6604c1a0
                title: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              example:
                detail: not found
                origin: api-statistics
                requestId: c777731fc180f215a49c9896c2f1200d
                title: Not Found
        '429':
          $ref: '#/components/responses/429'
  /api/v1/analytics/region-sale:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Sales by Regions
      summary: Get Report
      description: |
        Returns sales data grouped by regions of the countries. You can obtain a report for a maximum of 31 days.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 10 s | 1 request | 10 s | 5 requests |
        </div>
      parameters:
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      responses:
        '200':
          $ref: '#/components/responses/SuccessRegionSaleResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              examples:
                MissingDateTimeFrom:
                  $ref: '#/components/examples/MissingDateTimeFrom'
                MissingDateTimeTo:
                  $ref: '#/components/examples/MissingDateTimeTo'
                IncorrectDateTimeFrom:
                  $ref: '#/components/examples/IncorrectDateTimeFrom'
                IncorrectDateTimeTo:
                  $ref: '#/components/examples/IncorrectDateTimeTo'
                DateRangeExceeded:
                  $ref: '#/components/examples/DateRangeExceeded'
                DateRanges:
                  $ref: '#/components/examples/DateRanges'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/analytics/brand-share/brands:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Share of Brand in Sales
      summary: Seller Brands
      description: |
        Returns the list of the seller brands.

        You can only get brands that:
        - were sold in the last 90 days
        - are in WB

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 1 request | 1 min | 10 requests |
        </div>
      responses:
        '200':
          $ref: '#/components/responses/SuccessBrandsResponse'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/analytics/brand-share/parent-subjects:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Share of Brand in Sales
      summary: Parent Categories of the Brand
      description: |
        Returns parent categories of the brand.

        Data can be obtained starting from 1 November 2022, for up to 365 days.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 5 s | 1 request | 5 s | 20 requests |
        </div>
      parameters:
        - in: query
          name: locale
          schema:
            type: string
            example: ru
            default: ru
          description: |
            Language of the response field `parentName`:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese
        - in: query
          name: brand
          schema:
            type: string
            example: H%26M
          required: true
          description: Brand
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      responses:
        '200':
          $ref: '#/components/responses/SuccessParentsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              examples:
                IncorrectDateFrom:
                  $ref: '#/components/examples/IncorrectDateFromBS'
                MissingDateTimeFrom:
                  $ref: '#/components/examples/MissingDateTimeFrom'
                MissingDateTimeTo:
                  $ref: '#/components/examples/MissingDateTimeTo'
                IncorrectDateTimeFrom:
                  $ref: '#/components/examples/IncorrectDateTimeFrom'
                IncorrectDateTimeTo:
                  $ref: '#/components/examples/IncorrectDateTimeTo'
                DateRangeExceeded:
                  $ref: '#/components/examples/DateRangeExceeded365'
                DateRanges:
                  $ref: '#/components/examples/DateRanges'
                LocaleError:
                  $ref: '#/components/examples/LocaleError'
                MissingBrand:
                  $ref: '#/components/examples/MissingBrand'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/analytics/brand-share:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Share of Brand in Sales
      summary: Get Report
      description: |
        Returns a report on the brand's share in sales.

        Data can be obtained starting from 1 November 2022, for up to 365 days.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 5 s | 1 request | 5 s | 20 requests |
        </div>
      parameters:
        - in: query
          name: parentId
          schema:
            type: integer
            example: 1
          required: true
          description: Parent category ID
        - in: query
          name: brand
          schema:
            type: string
            example: H%26M
          required: true
          description: Brand
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      responses:
        '200':
          $ref: '#/components/responses/SuccessBrandShareResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              examples:
                IncorrectDateFrom:
                  $ref: '#/components/examples/IncorrectDateFromBS'
                MissingDateTimeFrom:
                  $ref: '#/components/examples/MissingDateTimeFrom'
                MissingDateTimeTo:
                  $ref: '#/components/examples/MissingDateTimeTo'
                IncorrectDateTimeFrom:
                  $ref: '#/components/examples/IncorrectDateTimeFrom'
                IncorrectDateTimeTo:
                  $ref: '#/components/examples/IncorrectDateTimeTo'
                DateRangeExceeded:
                  $ref: '#/components/examples/DateRangeExceeded365'
                DateRanges:
                  $ref: '#/components/examples/DateRanges'
                MissingParentId:
                  $ref: '#/components/examples/MissingParentId'
                MissingBrand:
                  $ref: '#/components/examples/MissingBrand'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/analytics/banned-products/blocked:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Hidden Products
      summary: Blocked Product Cards
      description: |
        Returns the list of [blocked product cards](https://seller.wildberries.ru/analytics-reports/banned-products)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 10 s | 1 request | 10 s | 6 requests |
        </div>
      parameters:
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - brand
              - nmId
              - title
              - vendorCode
              - reason
            example: nmId
          description: |
            Sorting
            - `brand` — by brand
            - `nmId` — by WB article
            - `title` — by product title
            - `vendorCode` — by seller's article
            - `reason` — by reason for blocking
          required: true
        - in: query
          name: order
          schema:
            type: string
            enum:
              - desc
              - asc
            example: asc
          description: |
            Data order
            - `desc` — from the largest numeric value to the smallest, from the last alphabetical value to the first
            - `asc` — from the smallest numeric value to the largest, from the first alphabetical value to the last
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  report:
                    description: Report
                    type: array
                    items:
                      type: object
                      properties:
                        brand:
                          type: string
                          example: Тест22
                          description: Brand
                        nmId:
                          type: integer
                          example: 82722944
                          description: WB article
                        title:
                          type: string
                          example: Гуминовые кислоты - биоактивный противовирусный комплекс на
                          description: Product title
                        vendorCode:
                          type: string
                          example: пкdeир76
                          description: Seller's article
                        reason:
                          type: string
                          example: Контактные данные Продавца и ссылки на иные сайты/группы/сообщества на фотографиях Товара
                          description: Reason for blocking
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Error title
                  status:
                    type: number
                    description: HTTP status code
                  detail:
                    type: string
                    description: Error details
                  requestId:
                    type: string
                    description: Unique request ID
                  origin:
                    type: string
                    description: WB internal service ID
              example:
                title: bad request
                status: 400
                detail: missing sort
                requestId: 94b52fca-8403-49fb-85dd-95dfb73160ad
                origin: banreportsvc-api
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/analytics/banned-products/shadowed:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Hidden Products
      summary: Hidden from the Catalog
      description: |
        Returns the list of products [hidden from the catalog](https://seller.wildberries.ru/analytics-reports/banned-products/shadowed)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 10 s | 1 request | 10 s | 6 requests |
        </div>
      parameters:
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - brand
              - nmId
              - title
              - vendorCode
              - nmRating
            example: title
          description: |
            Sorting
            - `brand` — by brand
            - `nmId` — by WB article
            - `title` — by product title
            - `vendorCode` — by seller's article
            - `nmRating` — by card rating
          required: true
        - in: query
          name: order
          schema:
            type: string
            enum:
              - desc
              - asc
            example: desc
          description: |
            Data order
            - `desc` — from the largest numeric value to the smallest, from the last alphabetical value to the first
            - `asc` — from the smallest numeric value to the largest, from the first alphabetical value to the last
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  report:
                    description: Report
                    type: array
                    items:
                      type: object
                      properties:
                        brand:
                          type: string
                          example: Трикотаж
                          description: Brand
                        nmId:
                          type: integer
                          example: 166658151
                          description: WB article
                        title:
                          type: string
                          example: ВАЗ
                          description: Product title
                        vendorCode:
                          type: string
                          example: DP02/черный
                          description: Seller's article
                        nmRating:
                          type: number
                          example: 3.1
                          description: Card rating
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Error title
                  status:
                    type: number
                    description: HTTP status code
                  detail:
                    type: string
                    description: Error details
                  requestId:
                    type: string
                    description: Unique request ID
                  origin:
                    type: string
                    description: WB internal service ID
              example:
                title: bad request
                status: 400
                detail: missing order
                requestId: 064f6c9e-924e-4e13-b551-0b89e3077938
                origin: banreportsvc-api
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/analytics/goods-return:
    servers:
      - url: https://seller-analytics-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: contentanalytics
      security:
        - HeaderApiKey: []
      tags:
        - Returns and Product Movement Report
      summary: Get Report
      description: |
        Returns a list of [goods returns to the seller](https://seller.wildberries.ru/analytics-reports/goods-return). With one request, you can obtain a report for a maximum of 31 days.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 1 request | 1 min | 10 requests |
        </div>
      parameters:
        - name: dateFrom
          in: query
          required: true
          schema:
            type: string
            format: date
            example: '2024-08-13'
          description: Beginning date of the reporting period
        - name: dateTo
          in: query
          required: true
          schema:
            type: string
            format: date
            example: '2024-08-27'
          description: End date of the reporting period
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  report:
                    description: Report
                    type: array
                    items:
                      type: object
                      properties:
                        barcode:
                          type: string
                          example: '1680063403480'
                          description: Barcode
                        brand:
                          type: string
                          example: dub
                          description: Brand
                        completedDt:
                          type: string
                          nullable: true
                          example: '2025-03-31T11:33:53'
                          description: Date and time the seller received return
                        dstOfficeAddress:
                          type: string
                          example: Жуковский Улица Маяковского 19
                          description: Address of POP where the seller receives returns
                        dstOfficeId:
                          type: integer
                          example: 310105
                          description: ID of POP where the seller receives returns
                        expiredDt:
                          type: string
                          nullable: true
                          example: '2025-03-31T11:33:53'
                          description: Expiration date and time of the storage period
                        isStatusActive:
                          type: integer
                          example: 0
                          description: |
                            Type of return status:

                              * `0` — archive
                              * `1` — active
                          enum:
                            - 0
                            - 1
                        nmId:
                          type: integer
                          example: 12862181
                          description: WB article
                        orderDt:
                          type: string
                          format: date
                          example: '2024-08-26'
                          description: Date of the return order
                        orderId:
                          type: integer
                          example: 2034240826
                          description: Assembly order number
                        readyToReturnDt:
                          type: string
                          nullable: true
                          example: '2025-01-31T08:33:50'
                          description: Date and time when the return is ready for delivery
                        reason:
                          type: string
                          example: Цвет
                          description: The reason for the return
                        returnType:
                          type: string
                          example: Возврат заблокированного товара
                          description: Return type
                        shkId:
                          type: integer
                          example: 23411783472
                          description: Barcode of the product unit
                        srid:
                          type: string
                          example: ad3817664d3046c5a8d55054d8be96d6
                          description: The unique ID of the return order
                        status:
                          type: string
                          example: В пути в пвз
                          description: Return status
                        stickerId:
                          type: string
                          example: '33811984302'
                          description: Sticker of the return order
                        subjectName:
                          type: string
                          example: Багажные бирки
                          description: Subject name
                        techSize:
                          type: string
                          example: '0'
                          description: Size
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/4xxResponse'
              examples:
                MissingDateTimeFrom:
                  $ref: '#/components/examples/MissingDateTimeFrom'
                MissingDateTimeTo:
                  $ref: '#/components/examples/MissingDateTimeTo'
                IncorrectDateTimeFrom:
                  $ref: '#/components/examples/IncorrectDateTimeFrom'
                IncorrectDateTimeTo:
                  $ref: '#/components/examples/IncorrectDateTimeTo'
                DateRangeExceeded:
                  $ref: '#/components/examples/DateRangeExceeded'
                DateRanges:
                  $ref: '#/components/examples/DateRanges'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '429':
          $ref: '#/components/responses/429'
components:
  schemas:
    StocksItem:
      type: object
      properties:
        lastChangeDate:
          type: string
          description: Date and time of refreshing info of service. This field corresponds to the `dateFrom` parameter in the request. If the time zone is not specified, then Moscow time UTC+3 is taken.
        warehouseName:
          type: string
          maxLength: 50
          description: Name of warehouse
        supplierArticle:
          type: string
          maxLength: 75
          description: Supplier article
        nmId:
          type: integer
          description: WB article
        barcode:
          type: string
          maxLength: 30
          description: Barcode
        quantity:
          type: integer
          description: Quantity available for sale (how many can be added to cart)
        inWayToClient:
          type: integer
          description: On the way to the customer
        inWayFromClient:
          type: integer
          description: On the way from the client
        quantityFull:
          type: integer
          description: Total (unsold) quantity that is in stock (= `quantity` + on the way)
        category:
          type: string
          maxLength: 50
          description: Category
        subject:
          type: string
          maxLength: 50
          description: Subject
        brand:
          type: string
          maxLength: 50
          description: Brand
        techSize:
          type: string
          maxLength: 30
          description: Product size
        Price:
          type: number
          description: Price
        Discount:
          type: number
          description: Discount
        isSupply:
          type: boolean
          description: Supply contract (internal process data)
        isRealization:
          type: boolean
          description: Implementation contract (internal process data)
        SCCode:
          type: string
          maxLength: 50
          description: Contract code (internal process data)
    OrdersItem:
      type: object
      properties:
        date:
          type: string
          description: Date and time of order. This field equals to `dateFrom` in request if `flag=1`. If the time zone is not specified, then Moscow time UTC+3 is taken.
        lastChangeDate:
          type: string
          description: Date and time of refreshing info of service. This field corresponds to the `dateFrom` parameter in the request if the `flag=0` parameter exist or not specified. If the time zone is not specified, then Moscow time UTC+3 is taken.
        warehouseName:
          type: string
          maxLength: 50
          description: Shipping warehouse name
        warehouseType:
          type: string
          description: |
            Type of products storage warehouse:
              - `Склад WB` —  WB warehouse
              - `Склад продавца` — seller's warehouse
          enum:
            - Склад WB
            - Склад продавца
        countryName:
          type: string
          maxLength: 200
          description: Country
        oblastOkrugName:
          type: string
          maxLength: 200
          description: Area
        regionName:
          type: string
          maxLength: 200
          description: Region
        supplierArticle:
          type: string
          maxLength: 75
          description: Supplier article
        nmId:
          type: integer
          description: WB article
        barcode:
          type: string
          maxLength: 30
          description: Barcode
        category:
          type: string
          maxLength: 50
          description: Category
        subject:
          type: string
          maxLength: 50
          description: Subject
        brand:
          type: string
          maxLength: 50
          description: Brand
        techSize:
          type: string
          maxLength: 30
          description: Product size
        incomeID:
          type: integer
          description: Supply number
        isSupply:
          type: boolean
          description: Supply contract
        isRealization:
          type: boolean
          description: Implementation contract
        totalPrice:
          type: number
          description: Price without discounts
        discountPercent:
          type: integer
          description: "Seller's discount,\_%"
        spp:
          type: number
          description: "WB discount,\_%"
        finishedPrice:
          type: number
          description: Price with all discounts, except WB Wallet sum
        priceWithDisc:
          type: number
          description: Price with seller's discount, including WB Club discount
        isCancel:
          type: boolean
          description: |
            Order cancel:
             - `true` — the order is cancelled
        cancelDate:
          type: string
          description: Date and time for order canceling. If order wasn't canceled, then `"0001-01-01T00:00:00"`. If the time zone is not specified, then Moscow time UTC+3 is taken.
        sticker:
          type: string
          description: sticker ID
        gNumber:
          type: string
          maxLength: 50
          description: Buyer's cart ID. Orders within a single transaction will have the same `gNumber`
        srid:
          type: string
          description: |
            Unique order ID. <br> Note for those working with Marketplace API: `srid` equals `rid` in response of orders methods
    SalesItem:
      type: object
      properties:
        date:
          type: string
          description: Date and time of sale. This field equals to `dateFrom` in request if `flag`=1. If the time zone is not specified, then Moscow time (UTC+3) is taken
        lastChangeDate:
          type: string
          description: Date and time of refreshing info of service. This field corresponds to the `dateFrom` parameter in the request if the `flag`=0 parameter exist or not specified. If the time zone is not specified, then Moscow time (UTC+3) is taken
        warehouseName:
          type: string
          maxLength: 50
          description: Shipping warehouse
        warehouseType:
          type: string
          description: |
            Type of products storage warehouse:
              - `Склад WB` —  WB warehouse
              - `Склад продавца` — seller's warehouse
          enum:
            - Склад WB
            - Склад продавца
        countryName:
          type: string
          maxLength: 200
          description: Country
        oblastOkrugName:
          type: string
          maxLength: 200
          description: Area
        regionName:
          type: string
          maxLength: 200
          description: Region
        supplierArticle:
          type: string
          maxLength: 75
          description: Supplier article
        nmId:
          type: integer
          description: WB article
        barcode:
          type: string
          maxLength: 30
          description: Barcode
        category:
          type: string
          maxLength: 50
          description: Category
        subject:
          type: string
          maxLength: 50
          description: Subject
        brand:
          type: string
          maxLength: 50
          description: Brand
        techSize:
          type: string
          maxLength: 30
          description: Product size
        incomeID:
          type: integer
          description: Supply number
        isSupply:
          type: boolean
          description: Supply contract
        isRealization:
          type: boolean
          description: Implementation contract
        totalPrice:
          type: number
          description: Price without discounts
        discountPercent:
          type: integer
          description: "Seller's discount,\_%"
        spp:
          type: number
          description: "WB discount,\_%"
        paymentSaleAmount:
          type: integer
          description: Discount for payment with WB Wallet, ₽
        forPay:
          type: number
          description: To transfer to the seller.<br>Data synchronization takes up to 24 hours, during which time the value `0` can be displayed in the field
        finishedPrice:
          type: number
          description: Price with all discounts.<br>Data synchronization takes up to 24 hours, during which time the value `0` can be displayed in the field
        priceWithDisc:
          type: number
          description: Price with seller's discount, including WB Club discount, from which the amount to be transferred to the seller `forPay` is calculated.<br>Data synchronization takes up to 24 hours, during which time the value `0` can be displayed in the field
        saleID:
          type: string
          maxLength: 15
          description: |
            The unique ID of the sale/return.

            - `S**********` — sale
            - `R**********` — return (to WB warehouse)
        sticker:
          type: string
          description: sticker ID
        gNumber:
          type: string
          maxLength: 50
          description: Buyer's cart ID. Orders within a single transaction will have the same `gNumber`
        srid:
          type: string
          description: |
            Unique order ID. <br> Note for those working with Marketplace API: `srid` equals `rid` in response of orders methods
    responseErrorStatistics:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
    responseErrorStatistics2:
      type: object
      properties:
        errors:
          type: string
    ExciseReportRequest:
      type: object
      properties:
        countries:
          type: array
          description: Country code in according with ISO 3166-2. Set the empty parameter to get data without filters by country
          items:
            type: string
            enum:
              - AM
              - BY
              - KG
              - KZ
              - RU
              - UZ
      example:
        countries:
          - AM
          - RU
    ExciseReportResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/models.ExciseReportResponse'
    models.ExciseReportResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/models.ExciseReportResponseData'
    models.ExciseReportResponseData:
      type: array
      items:
        type: object
        properties:
          name:
            type: string
            description: Buyer's country
            example: Россия
          price:
            type: number
            description: Price including VAT
            example: 100
          currency_name_short:
            type: string
            description: Currency
            example: AMD
          excise_short:
            type: string
            description: Labeling code
            example: 0102900254680370215_Re/=lSbNiGD
          barcode:
            type: string
            description: Barcode
            example: '2038893425820'
          nm_id:
            type: integer
            description: Wildberries article
            example: 169085355
          operation_type_id:
            type: integer
            description: "Operation type, if exists:\n\n  * `1`\_— withdraw from circulation\n  * `2`\_— return to sale\n"
            example: 1
          fiscal_doc_number:
            type: integer
            description: Receipt number, if exists
            example: 12345678
          fiscal_dt:
            type: string
            description: Date in the receipt, if exists, YYYY-MM-DD
            example: '2024-01-01'
          fiscal_drive_number:
            type: string
            description: Fiscal storage number, if exists
          rid:
            type: integer
            description: |
              `Rid`
            example: 606217433440
          srid:
            type: string
            description: |
              `Srid`
            example: 7513432034713632943.1.0
    MeasurementPenalties:
      required:
        - data
      type: object
      properties:
        data:
          required:
            - reports
            - total
          type: object
          description: Response data
          properties:
            reports:
              type: array
              description: Retentions
              items:
                type: object
                properties:
                  nmId:
                    type: integer
                    description: Wildberries article
                    example: 123456789
                  subjectName:
                    type: string
                    description: Subject
                    example: Костюмы спортивные
                  dimId:
                    type: integer
                    description: Measurement ID
                    example: 123456789
                  prcOver:
                    type: number
                    description: Difference in dimensions, %
                    example: 130.71
                  volume:
                    type: number
                    description: Volume, l (as measured at warehouse)
                    example: 6.47
                  width:
                    type: integer
                    description: Width, cm (as measured at warehouse)
                    example: 7
                  length:
                    type: integer
                    description: Length, cm (as measured at warehouse)
                    example: 28
                  height:
                    type: integer
                    description: Height, cm (as measured at warehouse)
                    example: 33
                  volumeSup:
                    type: number
                    description: Volume, L (as specified in listing)
                    example: 4.95
                  widthSup:
                    type: integer
                    description: Width, cm (as specified in listing)
                    example: 8
                  lengthSup:
                    type: integer
                    description: Length, cm (as specified in listing)
                    example: 33
                  heightSup:
                    type: integer
                    description: Height, cm (as specified in listing)
                    example: 33
                  photoUrls:
                    type: array
                    items:
                      type: string
                    description: Photos of the measurements
                    example:
                      - https://static-basket-09.wbbasket.ru/vol184/obmer-tovarov/measurement_on_table/wbs35154094220_em907759_n1_b2eaa5ed-bf21-4c58-b419-b5b5ec6f29ee.webp
                      - https://static-basket-09.wbbasket.ru/vol184/obmer-tovarov/measurement_on_table/wbs35159094420_em907759_n2_040407b0-7752-4ae7-a4a4-7ec016e86511.webp
                      - https://static-basket-09.wbbasket.ru/vol184/obmer-tovarov/measurement_on_table/wbs35189094220_em904757_n3_9f502e24-3b3e-4efd-9hac-802813046ac3.webp
                  dtBonus:
                    type: string
                    format: date-time
                    description: Fine date
                    example: '2025-06-02T00:00:00Z'
                  isValid:
                    type: boolean
                    description: |
                      Status of measurement
                        - `false` — canceled
                        - `true` — valid
                    example: true
                  isValidDt:
                    type: string
                    format: date-time
                    description: Date and time of validation or cancellation of the measurement
                    example: '2025-05-29T13:35:57Z'
                  reversalAmount:
                    type: number
                    description: Reversal amount
                    example: 0
                  penaltyAmount:
                    type: number
                    description: Fine amount
                    example: 449.83
            total:
              type: integer
              description: Number of retentions in the report. Except `limit` and `offset`
              example: 11
    WHM:
      required:
        - data
      type: object
      properties:
        data:
          required:
            - reports
            - total
          type: object
          description: Response data
          properties:
            reports:
              type: array
              description: Measurements
              items:
                type: object
                properties:
                  nmId:
                    type: integer
                    description: Wildberries article
                    example: 123456789
                  subjectName:
                    type: string
                    description: Subject
                    example: ''
                  dimId:
                    type: integer
                    description: Measurement ID
                    example: 123456789
                  volume:
                    type: number
                    description: Volume, l
                  width:
                    type: integer
                    description: Width, cm
                    example: 66
                  length:
                    type: integer
                    description: Length, cm
                    example: 54
                  height:
                    type: integer
                    description: Height, cm
                    example: 11
                  photoUrls:
                    type: array
                    items:
                      type: string
                    description: Photos of measurements
                    example:
                      - https://static-basket-03.wb.ru/vol54/handheld-goods-measurements-photo/8906416_a9f839da-c3b7-4ed6-737c-a9e731250fb0.jpg
                      - https://static-basket-03.wb.ru/vol54/handheld-goods-measurements-photo/8906416_2aac23b7-c8f9-42db-74e9-b4a9c916017c.jpg
                      - https://static-basket-03.wb.ru/vol54/handheld-goods-measurements-photo/8906416_ff93b7c4-19d6-e0a2-4dba-7c2f09f06b3.jpg
                  dt:
                    type: string
                    format: date-time
                    description: Date and time
                    example: '2025-04-01T00:06:00Z'
            total:
              type: integer
              description: Number of measurements in the report. Except `limit` and `offset`
              example: 11
    Response400Retentions:
      type: object
      properties:
        title:
          type: string
          description: Error title
          example: bad request
        status:
          type: integer
          description: HTTP status code
          example: 400
        detail:
          type: string
          description: Error details
          example: 'invalid parameter: dateTo'
        requestId:
          type: string
          description: Unique request ID
          example: 31db50b5-14c0-4f4e-965e-6e1f9607ee78
        origin:
          type: string
          description: WB internal service ID
          example: dimension-penalty
    Response403Retentions:
      type: object
      properties:
        title:
          type: string
          description: Error title
          example: access denied
        status:
          type: integer
          description: HTTP status code
          example: 403
        detail:
          type: string
          description: Error details
          example: 'abac: access denied'
        requestId:
          type: string
          description: Unique request ID
          example: 31db50b5-14c0-4f4e-965e-6e1f9607ee78
        origin:
          type: string
          description: WB internal service ID
          example: dimension-penalty
    ResponsePaidStorage:
      type: array
      items:
        type: object
        properties:
          date:
            type: string
            description: Calculation or recalculation date
          logWarehouseCoef:
            type: number
            description: Logistics and storage coefficient
          officeId:
            type: integer
            description: Warehouse ID
          warehouse:
            type: string
            description: Warehouse name
          warehouseCoef:
            type: number
            description: Warehouse coefficient
          giId:
            type: integer
            description: Shipment ID
          chrtId:
            type: integer
            description: Size ID
          size:
            type: string
            description: Size (`techSize` in product card)
          barcode:
            type: string
            description: Barcode
          subject:
            type: string
            description: Subject (subcategory)
          brand:
            type: string
            description: Brand
          vendorCode:
            type: string
            description: Seller's article
          nmId:
            type: integer
            description: Wildberries article
          volume:
            type: number
            description: Product volume
          calcType:
            type: string
            description: Calculation type
          warehousePrice:
            type: number
            description: Storage price
          barcodesCount:
            type: integer
[...]
